.register-online-m{
    display: none;
    @media only screen and (max-width: 575px) {
        display: block;
        position: fixed;
        z-index: 9998;
        width: 100%;
        bottom: 0px;
        .btn-link{
            border-radius: 8px;
            max-width: 100%;
            &.register-online{
                background-color: #013CA6;
            }
            a{
                padding: 10px 75px;
                display: block;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: center;
            }
            .text{
                font-weight: $font-medium;
                font-size: 22px;
                line-height: 26px;
                color: #fff;
            }
            .icon{
                position: absolute;
                right: 10px;
                width: 34px;
                height: 34px;
            }
        }
    }
}

.btn-link{
    border-radius: 8px;
    //max-width: 275px;
    display: inline-block;
    a{
        padding: 15px 70px 15px 25px;
        display: block;
        display: flex;
        align-items: center;
        position: relative;
        text-align: left;
    }
    .text{
        font-weight: $font-medium;
        font-size: 26px;
        line-height: 32px;
        color: #fff;
    }
    .icon{
        position: absolute;
        right: 25px;
        width: 30px;
        height: 30px;
        img{
            width: 100%;
        }
    }

    &.color-primary{
        background-color: $color-primary;
    }
    &.register-online{
        background-color: #FFA900;
    }
    &:hover{
        text-decoration: none;
    }

    @media only screen and (max-width: 575px) {
        a{
            padding: 9px 55px 10px 15px;
        }
        .text{
            font-size: 18px;
            line-height: 24px;
        }
        .icon{
            right: 15px;
            width: 24px;
            height: 24px;
        }
    }
}

.btn-link2{
    border: 1px solid #013CA6;
    border-radius: 25px;
    display: inline-block;
    a{
        padding: 10px 15px;
        display: block;
        display: flex;
        align-items: center;
        position: relative;
        font-weight: $font-light;
        font-size: 20px;
        line-height: 28px;
        color: #013CA6;
    }
    &:hover{
        background-color: #013CA6;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
    @media only screen and (max-width: 767px) {
        a{
            font-size: 18px;
            line-height: 26px;
        }
    }
}


.group-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    .btn-type{
        min-width: 160px;
        padding: 15px 10px;
        border-radius: 30px;
        border: none;
        font-weight: $font-medium;
        font-size: 20px;
        &.bg-main{
            background-color: #013CA6;
            color: #fff;
        }
        &.bg-no{
            background-color: inherit;
            color: #91989E;
        }
    }
}


