.header-wrapper{
    &.landingPage{
        padding: 10px 15px 0;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        background-color: #013CA6;
        .logo{
            width: 280px;
            margin: auto;
            a{
                display: block;
            }
            img{
                width: 100%;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        &.landingPage{
            .logo{
                width: 221px;
                margin: auto;
            }
        }
    }
    @media only screen and (max-width: 425px) {
        &.landingPage{
            padding: 5px 15px;
            .logo{
                width: 155px;
            }
        }
    }
    @media only screen and (max-width: 320px) {
        &.landingPage{
            .logo{
                width: 125px;
            }
        }
    }
}