@import './_reset';
@import './variables';
@import './header';
@import './button';
@import './input';
@import './ckeditor';
@import './footer';

@import './component/banner.scss';
@import './content/layout-default.scss';

body, html{
    font-family: 'Kanit' !important;
    transition: all .5s ease-out;
}
a{
    &:hover{
        text-decoration: none !important;
    }
}