/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both; }

a:hover {
  text-decoration: none; }

.header-wrapper.landingPage {
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #013CA6; }
  .header-wrapper.landingPage .logo {
    width: 221px;
    margin: auto; }
    .header-wrapper.landingPage .logo a {
      display: block; }
    .header-wrapper.landingPage .logo img {
      width: 100%; }

@media only screen and (max-width: 768px) {
  .header-wrapper.landingPage .logo {
    margin: auto; } }

@media only screen and (max-width: 425px) {
  .header-wrapper.landingPage {
    padding: 5px 15px; }
    .header-wrapper.landingPage .logo {
      width: 155px; } }

@media only screen and (max-width: 320px) {
  .header-wrapper.landingPage .logo {
    width: 125px; } }

.register-online-m {
  display: none; }
  @media only screen and (max-width: 575px) {
    .register-online-m {
      display: block;
      position: fixed;
      z-index: 9998;
      width: 100%;
      bottom: 0px; }
      .register-online-m .btn-link {
        border-radius: 8px;
        max-width: 100%; }
        .register-online-m .btn-link.register-online {
          background-color: #013CA6; }
        .register-online-m .btn-link a {
          padding: 10px 75px;
          display: block;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          position: relative;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
        .register-online-m .btn-link .text {
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          color: #fff; }
        .register-online-m .btn-link .icon {
          position: absolute;
          right: 10px;
          width: 34px;
          height: 34px; } }

.btn-link {
  border-radius: 8px;
  display: inline-block; }
  .btn-link a {
    padding: 15px 70px 15px 25px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-align: left; }
  .btn-link .text {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #fff; }
  .btn-link .icon {
    position: absolute;
    right: 25px;
    width: 30px;
    height: 30px; }
    .btn-link .icon img {
      width: 100%; }
  .btn-link.color-primary {
    background-color: #013CA6; }
  .btn-link.register-online {
    background-color: #FFA900; }
  .btn-link:hover {
    text-decoration: none; }
  @media only screen and (max-width: 575px) {
    .btn-link a {
      padding: 9px 55px 10px 15px; }
    .btn-link .text {
      font-size: 18px;
      line-height: 24px; }
    .btn-link .icon {
      right: 15px;
      width: 24px;
      height: 24px; } }

.btn-link2 {
  border: 1px solid #013CA6;
  border-radius: 25px;
  display: inline-block; }
  .btn-link2 a {
    padding: 10px 15px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #013CA6; }
  .btn-link2:hover {
    background-color: #013CA6; }
    .btn-link2:hover a {
      text-decoration: none;
      color: #fff; }
  @media only screen and (max-width: 767px) {
    .btn-link2 a {
      font-size: 18px;
      line-height: 26px; } }

.group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 20px 0; }
  .group-btn .btn-type {
    min-width: 160px;
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 20px; }
    .group-btn .btn-type.bg-main {
      background-color: #013CA6;
      color: #fff; }
    .group-btn .btn-type.bg-no {
      background-color: inherit;
      color: #666666; }

.style-input {
  position: relative;
  padding-bottom: 10px; }
  .style-input .inp-style {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #E6E6E6;
    font-weight: 300;
    font-size: 20px;
    color: #0047B6;
    padding: 0 15px;
    margin-bottom: 20px; }
    .style-input .inp-style.text-center {
      text-align: center; }
    .style-input .inp-style:focus {
      outline: none;
      border: 1px solid #0047B6; }
    .style-input .inp-style.text-large {
      font-weight: 400;
      font-size: 36px; }
    .style-input .inp-style.error {
      border: 1px solid #DD1B1B; }
  .style-input .text-error {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #DD1B1B;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    padding: 0 15px; }
  .style-input.nobg .inp-style {
    background-color: inherit;
    border: none;
    color: #fff; }
    .style-input.nobg .inp-style::-webkit-input-placeholder {
      color: #fff; }
    .style-input.nobg .inp-style:-ms-input-placeholder {
      color: #fff; }
    .style-input.nobg .inp-style::-ms-input-placeholder {
      color: #fff; }
    .style-input.nobg .inp-style::placeholder {
      color: #fff; }
  .style-input .bootstrap-select {
    width: 100% !important; }
    .style-input .bootstrap-select.slc-style {
      position: relative;
      padding: 0;
      border: none; }
      .style-input .bootstrap-select.slc-style .btn.dropdown-toggle {
        padding-right: 15px;
        padding-left: 15px;
        height: 100%;
        background-color: #fff;
        border: 1px solid #E6E6E6;
        border-radius: 10px;
        background-image: url("../assets/images/icon/icon-select.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 10px); }
        .style-input .bootstrap-select.slc-style .btn.dropdown-toggle:focus {
          outline: none !important;
          -webkit-box-shadow: none;
          box-shadow: none; }
        .style-input .bootstrap-select.slc-style .btn.dropdown-toggle .filter-option {
          height: auto;
          color: #013CA6; }
          .style-input .bootstrap-select.slc-style .btn.dropdown-toggle .filter-option .filter-option-inner .filter-option-inner-inner {
            font-size: 20px; }
        .style-input .bootstrap-select.slc-style .btn.dropdown-toggle:after {
          display: none; }
        .style-input .bootstrap-select.slc-style .btn.dropdown-toggle.bs-placeholder .filter-option {
          color: #666666; }
      .style-input .bootstrap-select.slc-style .dropdown-menu {
        border-radius: 10px; }
        .style-input .bootstrap-select.slc-style .dropdown-menu .inner ul.dropdown-menu li a {
          padding: 15px; }
          .style-input .bootstrap-select.slc-style .dropdown-menu .inner ul.dropdown-menu li a.dropdown-item.active {
            background-color: #0047B6; }
        .style-input .bootstrap-select.slc-style .dropdown-menu .inner ul.dropdown-menu li:hover a {
          background-color: #0047B6;
          color: #fff; }
    .style-input .bootstrap-select.show .btn.dropdown-toggle {
      border: 1px solid #0047B6 !important; }
    .style-input .bootstrap-select.error .btn.dropdown-toggle {
      border: 1px solid #DD1B1B !important;
      background-image: url("../assets/images/icon/icon-select-error.svg"); }
  .style-input .slc-style {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    position: relative;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #E6E6E6;
    font-weight: 300;
    font-size: 20px;
    color: #373737;
    padding: 0 15px;
    margin-bottom: 20px; }
    .style-input .slc-style:focus {
      outline: none; }
    .style-input .slc-style:invalid {
      color: #373737; }
    .style-input .slc-style.error {
      background: url("../assets/images/icon/icon-select-error.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 10px); }
    .style-input .slc-style [disabled] {
      color: #373737; }
  .style-input .title-field {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #373737;
    min-height: 30px; }
    .style-input .title-field .req {
      color: #DD1B1B; }
    @media only screen and (max-width: 425px) {
      .style-input .title-field.no-title {
        min-height: 10px; } }
  .style-input.checkbox {
    margin-bottom: 20px; }
    .style-input.checkbox input[type=checkbox] {
      display: none; }
    .style-input.checkbox input[type=checkbox] + label {
      background-image: url("../assets/images/icon/icon-check-default.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      height: 27px;
      width: 100%;
      display: block;
      padding-left: 35px;
      margin-right: 10px;
      cursor: pointer;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      color: #373737; }
    .style-input.checkbox input[type=checkbox]:checked + label {
      background-image: url("../assets/images/icon/icon-check-active.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      color: #0047B6; }

.group-list .style-input .list-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .group-list .style-input .list-item li {
    list-style: none;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    padding: 5px 10px;
    color: #91989E;
    border: 2px solid #92989D;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer; }
    .group-list .style-input .list-item li:last-child {
      margin-right: 0; }
    .group-list .style-input .list-item li.active {
      color: #fff;
      border: 2px solid #013CA6;
      background-color: #013CA6; }
    .group-list .style-input .list-item li:hover {
      color: #fff;
      border: 2px solid #013CA6;
      background-color: #013CA6; }

@media only screen and (max-width: 991px) {
  .group-list .style-input .list-item li {
    font-size: 20px;
    line-height: 28px; } }

@media only screen and (max-width: 767px) {
  .group-list .style-input .list-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .group-list .style-input .list-item li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px; } }

.footer-wrapper .bg-footer {
  background-image: url("../assets/images/banner/banner-contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.footer-wrapper .contact-wrapper {
  padding-bottom: 20px; }
  .footer-wrapper .contact-wrapper .title {
    padding-top: 70px;
    margin-bottom: 70px; }
  .footer-wrapper .contact-wrapper .detail-contact {
    position: relative;
    margin-bottom: 60px; }
    .footer-wrapper .contact-wrapper .detail-contact .icon {
      margin-bottom: 30px; }
    .footer-wrapper .contact-wrapper .detail-contact .text .title {
      padding: 0;
      margin-bottom: 10px; }
    .footer-wrapper .contact-wrapper .detail-contact .text .desc {
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      color: #fff; }
    .footer-wrapper .contact-wrapper .detail-contact .icon-path:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 55px;
      background-image: url("../../assets/images/icon/icon-pathcurve.svg");
      background-repeat: no-repeat;
      width: 22px;
      height: 105px; }
    .footer-wrapper .contact-wrapper .detail-contact .icon-path:last-of-type:after {
      display: none; }

.footer-wrapper .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-wrapper .footer-bottom .list-menu ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-wrapper .footer-bottom .list-menu ul li {
      list-style: none;
      margin-right: 40px; }
      .footer-wrapper .footer-bottom .list-menu ul li a {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .footer-wrapper .footer-bottom .list-menu ul li a img {
          margin-right: 10px; }
      .footer-wrapper .footer-bottom .list-menu ul li:last-child {
        margin-right: 0; }

@media only screen and (max-width: 767px) {
  .footer-wrapper .contact-wrapper {
    padding-bottom: 50px; }
    .footer-wrapper .contact-wrapper .detail-contact .icon {
      text-align: center; }
    .footer-wrapper .contact-wrapper .detail-contact .text {
      text-align: center; }
    .footer-wrapper .contact-wrapper .detail-contact .icon-path {
      margin-bottom: 50px; }
      .footer-wrapper .contact-wrapper .detail-contact .icon-path:after {
        display: none; }
      .footer-wrapper .contact-wrapper .detail-contact .icon-path:last-of-type {
        margin-bottom: 0; }
  .footer-wrapper .footer-bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-wrapper .footer-bottom .list-menu {
      width: 100%; }
      .footer-wrapper .footer-bottom .list-menu ul {
        display: block; }
        .footer-wrapper .footer-bottom .list-menu ul li {
          margin-bottom: 20px; } }

.banner-wrapper {
  padding-top: 84px; }
  .banner-wrapper ul {
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important; }
    .banner-wrapper ul li {
      list-style: none; }
      .banner-wrapper ul li .item {
        position: relative; }
        .banner-wrapper ul li .item img {
          width: 100%; }
          .banner-wrapper ul li .item img.d {
            display: block; }
          .banner-wrapper ul li .item img.m {
            display: none; }
        .banner-wrapper ul li .item .btn-link {
          position: absolute;
          bottom: 10%;
          left: 4%; }
        @media only screen and (max-width: 768px) {
          .banner-wrapper ul li .item img.d {
            display: none; }
          .banner-wrapper ul li .item img.m {
            display: block; }
          .banner-wrapper ul li .item .btn-link {
            bottom: 10%;
            left: 3%; } }
  .banner-wrapper .slick-dots {
    bottom: 25px; }
    .banner-wrapper .slick-dots li {
      width: 29px;
      height: 6px;
      -webkit-transition: all .35s ease-out;
      -o-transition: all .35s ease-out;
      transition: all .35s ease-out; }
      .banner-wrapper .slick-dots li button {
        width: 29px;
        height: 6px;
        -webkit-transition: all .35s ease-out;
        -o-transition: all .35s ease-out;
        transition: all .35s ease-out; }
        .banner-wrapper .slick-dots li button:before {
          content: '';
          background-color: #91989e;
          border-radius: 10px;
          width: 29px;
          height: 6px;
          opacity: 1;
          -webkit-transition: all .35s ease-out;
          -o-transition: all .35s ease-out;
          transition: all .35s ease-out; }
      .banner-wrapper .slick-dots li.slick-active {
        width: 39px; }
        .banner-wrapper .slick-dots li.slick-active button {
          width: 39px; }
          .banner-wrapper .slick-dots li.slick-active button:before {
            width: 39px;
            background-color: #ff7301; }
      .banner-wrapper .slick-dots li:hover {
        width: 39px;
        -webkit-transition: all .35s ease-out;
        -o-transition: all .35s ease-out;
        transition: all .35s ease-out; }
        .banner-wrapper .slick-dots li:hover button {
          width: 39px;
          -webkit-transition: all .35s ease-out;
          -o-transition: all .35s ease-out;
          transition: all .35s ease-out; }
          .banner-wrapper .slick-dots li:hover button:before {
            background-color: #ff7301;
            width: 39px;
            -webkit-transition: all .35s ease-out;
            -o-transition: all .35s ease-out;
            transition: all .35s ease-out; }
  @media only screen and (max-width: 425px) {
    .banner-wrapper {
      padding-top: 55px; } }
  @media only screen and (max-width: 320px) {
    .banner-wrapper {
      padding-top: 47px; } }

.row-custom-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bg-color-primary {
  background-color: #013CA6; }

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 38px; }
  .title.text-white {
    color: #fff; }
  .title.text-black {
    color: #373737; }
  .title.text-blue {
    color: #013CA6; }

.title-sub {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px; }
  .title-sub.text-white {
    color: #fff; }
  .title-sub.text-black {
    color: #373737; }
  .title-sub.text-blue {
    color: #013CA6; }

.accordion .card {
  background-color: inherit;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px; }
  .accordion .card .card-header {
    border: none;
    position: relative;
    cursor: pointer; }
    .accordion .card .card-header .head-collapse {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      color: #fff; }
      .accordion .card .card-header .head-collapse.icon-left {
        padding-left: 40px; }
      .accordion .card .card-header .head-collapse::before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        background-image: url("../../assets/images/icon/icon-plus-circle.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 38px;
        height: 38px; }
  .accordion .card .collapse .card-body {
    padding: 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff; }
  .accordion .card .collapsing .card-body {
    padding: 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff; }

.data-table {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #373737; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529; }
  table .align-center {
    text-align: center; }
  table .align-right {
    text-align: right; }
  table .align-left {
    text-align: left; }
  table .vertical-middle {
    vertical-align: middle; }
  table thead tr th {
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff; }
    table thead tr th.bg-color-main {
      background-color: #013CA6; }
    table thead tr th.bg-color-secondary {
      background-color: #3E75CE; }
  table thead tr:first-child th:first-child {
    border-top-left-radius: 20px; }
  table thead tr:first-child th:last-child {
    border-top-right-radius: 20px; }
  table tbody tr td {
    border: 1px solid #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #373737;
    padding: 15px; }
    table tbody tr td.text-color-primary {
      color: #013CA6; }
    table tbody tr td.font-medium {
      font-weight: 500; }
  table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 20px; }
  table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 20px; }
  table tbody tr:nth-child(even) {
    background-color: #F0F0F0; }
  table tbody tr:nth-child(odd) {
    background-color: #fff; }
  @media only screen and (max-width: 767px) {
    table thead tr th {
      font-size: 18px; }
    table tbody tr td {
      font-size: 18px; } }

.style-tab .nav-tabs {
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .style-tab .nav-tabs .nav-item .nav-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #91989E;
    border: none;
    border-left: 2px solid #F7F7F7;
    border-radius: 0;
    padding: 10px 40px; }
    .style-tab .nav-tabs .nav-item .nav-link.active {
      color: #013CA6;
      border-left: 2px solid #FF7301; }

.style-tab .bg-tab-content {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 70px; }

.style-tab .tab-content.tab-content-custom {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 576px) {
    .style-tab .tab-content.tab-content-custom {
      max-width: 540px; } }
  @media only screen and (min-width: 768px) {
    .style-tab .tab-content.tab-content-custom {
      max-width: 720px; } }
  @media only screen and (min-width: 992px) {
    .style-tab .tab-content.tab-content-custom {
      max-width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .style-tab .tab-content.tab-content-custom {
      max-width: 1140px; } }

.style-tab .tab-content .tab-pane .list-group-wrapper {
  margin-bottom: 20px; }
  .style-tab .tab-content .tab-pane .list-group-wrapper ul {
    margin: 0;
    padding: 0; }
    .style-tab .tab-content .tab-pane .list-group-wrapper ul li {
      list-style: none;
      padding: 20px 0;
      border-bottom: 1px solid #F0F0F0; }
      .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .icon {
        width: 100px;
        height: 100px;
        margin-right: 30px;
        float: left; }
        .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .icon img {
          width: 100%; }
      .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text {
        padding-top: 20px; }
        .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text .title {
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: #013CA6;
          margin-bottom: 5px; }
        .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text .desc {
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          padding-left: 130px; }
        .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text .style-btn {
          margin-top: 15px;
          padding-left: 130px; }
          .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text .style-btn .btn-link2 {
            margin-right: 10px; }
            .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text .style-btn .btn-link2:last-of-type {
              margin-right: 0; }
      .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item::after {
        content: '';
        display: block;
        clear: both; }
      .style-tab .tab-content .tab-pane .list-group-wrapper ul li:last-child {
        border-bottom: none; }
  @media only screen and (max-width: 767px) {
    .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text {
      padding-top: 0; }
      .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text .style-btn .btn-link2 {
        margin-bottom: 15px; }
        .style-tab .tab-content .tab-pane .list-group-wrapper ul li .item .text .style-btn .btn-link2:last-of-type {
          margin-bottom: 0; } }

.style-tab .style-input {
  display: none; }

@media only screen and (max-width: 991px) {
  .style-tab .content-tabs {
    display: none; }
  .style-tab .style-input {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; } }
  @media only screen and (max-width: 991px) and (min-width: 576px) {
    .style-tab .style-input {
      max-width: 540px; } }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .style-tab .style-input {
      max-width: 720px; } }
  @media only screen and (max-width: 991px) and (min-width: 992px) {
    .style-tab .style-input {
      max-width: 960px; } }
  @media only screen and (max-width: 991px) and (min-width: 1200px) {
    .style-tab .style-input {
      max-width: 1140px; } }

@media only screen and (max-width: 991px) {
  .style-tab .bg-tab-content {
    padding-top: 0; }
  .style-tab .tab-content {
    margin-top: 15px; } }

.custom-progressbar {
  max-width: 991px;
  margin: auto;
  margin-bottom: 40px; }
  .custom-progressbar .progressbar {
    counter-reset: step; }
    .custom-progressbar .progressbar li {
      list-style: none;
      display: inline-block;
      width: 30.33%;
      position: relative;
      text-align: center;
      cursor: pointer;
      font-weight: 300;
      font-size: 22px;
      line-height: 30px;
      color: #fff; }
      .custom-progressbar .progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 59px;
        height: 59px;
        line-height: 59px;
        border: 1px solid #bfbfbf;
        border-radius: 100%;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        background-color: #bfbfbf;
        color: #666;
        z-index: 9;
        position: relative;
        font-weight: 500;
        font-size: 22px; }
      .custom-progressbar .progressbar li:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 9px;
        background-color: #fff;
        top: 30px;
        left: -50%;
        z-index: 1; }
      .custom-progressbar .progressbar li:first-child:after {
        content: none; }
      .custom-progressbar .progressbar li.active {
        color: #fff; }
        .custom-progressbar .progressbar li.active:before {
          color: #fff;
          border-color: #FF7301;
          background-color: #FF7301; }
    .custom-progressbar .progressbar li.active:after {
      background-color: #FF7301; }
  @media only screen and (max-width: 425px) {
    .custom-progressbar {
      max-width: 320px; } }

.remark-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media only screen and (max-width: 767px) {
    .remark-download .remark {
      margin-bottom: 20px; }
    .remark-download .btn-link2 {
      margin-bottom: 10px; } }

.remark {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #373737; }
  .remark.text-white {
    color: #fff; }

.consent {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #373737; }

.modal.custom .modal-content {
  background-color: inherit;
  border: none;
  position: relative;
  padding-top: 70px; }
  .modal.custom .modal-content .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  .modal.custom .modal-content .modal-header {
    position: relative;
    background-color: #013CA6;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
    .modal.custom .modal-content .modal-header .icon {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 50px;
      height: 50px; }
      .modal.custom .modal-content .modal-header .icon img {
        width: 100%; }
    .modal.custom .modal-content .modal-header .modal-title {
      font-weight: 500;
      font-size: 36px;
      color: #fff; }
  .modal.custom .modal-content .modal-body {
    padding: 50px 2rem;
    background-color: #fff;
    border-radius: 20px; }
    .modal.custom .modal-content .modal-body .text-body {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
      color: #013CA6 !important;
      text-align: center;
      margin-bottom: 20px; }
    .modal.custom .modal-content .modal-body .desc-body {
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      color: #91989E;
      text-align: center;
      margin-bottom: 40px; }
    .modal.custom .modal-content .modal-body .btn-link {
      max-width: 235px;
      margin: auto;
      display: block; }
    .modal.custom .modal-content .modal-body .consent {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin: auto; }

.modal.custom-info .modal-content .modal-body {
  padding: 50px 1rem; }
  .modal.custom-info .modal-content .modal-body .desc-body {
    text-align: left; }
    .modal.custom-info .modal-content .modal-body .desc-body ul {
      margin: 0;
      padding: 0; }
    .modal.custom-info .modal-content .modal-body .desc-body a {
      color: #91989E; }

.modal-backdrop {
  background-color: #013CA6; }

body {
  font-family: 'Kanit', sans-serif;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }
