.register-online-m {
  display: none; }

.content-wrapper {
  margin-bottom: 70px; }
  .content-wrapper.-cashexpress {
    padding: 0 70px; }
    @media only screen and (max-width: 425px) {
      .content-wrapper.-cashexpress {
        padding: 0; } }

.cashexpress-wrapper .cashexpress-main ul {
  margin: 0;
  padding: 0; }
  .cashexpress-wrapper .cashexpress-main ul li .content-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px; }
    .cashexpress-wrapper .cashexpress-main ul li .content-main .img-cashexpress img {
      width: 100%; }
    .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .title {
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      color: #373737;
      margin-bottom: 50px;
      padding-left: 15px;
      border-left: 4px solid #EE7B30; }
    .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .desc {
      font-weight: 300;
      font-size: 20px;
      line-height: 22px;
      color: #91989E; }
  @media only screen and (max-width: 768px) {
    .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .title {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 15px; }
    .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .desc {
      font-size: 18px;
      line-height: 20px; } }
  @media only screen and (max-width: 425px) {
    .cashexpress-wrapper .cashexpress-main ul li .content-main .img-cashexpress {
      margin-bottom: 30px; } }

.cashexpress-wrapper .cashexpress-thumb {
  padding-top: 50px; }
  .cashexpress-wrapper .cashexpress-thumb .list-thumb {
    margin: 0; }
    .cashexpress-wrapper .cashexpress-thumb .list-thumb li {
      list-style: none;
      cursor: pointer; }
      .cashexpress-wrapper .cashexpress-thumb .list-thumb li .img-thumb {
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .cashexpress-wrapper .cashexpress-thumb .list-thumb li .img-thumb img {
          width: 100%; }
        .cashexpress-wrapper .cashexpress-thumb .list-thumb li .img-thumb:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2); }
    .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-slide {
      padding: 20px 25px; }
    .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow {
      top: 58%; }
      .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow.slick-prev {
        width: 50px;
        height: 50px;
        left: -65px; }
        .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow.slick-prev:before {
          content: '';
          display: block;
          background-image: url("../../assets/images/icon/icon-left-circle.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-color: #91989E;
          width: 50px;
          height: 50px;
          border-radius: 100%; }
      .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow.slick-next {
        width: 50px;
        height: 50px;
        right: -65px; }
        .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow.slick-next:before {
          content: '';
          display: block;
          background-image: url("../../assets/images/icon/icon-right-circle.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-color: #91989E;
          width: 50px;
          height: 50px;
          border-radius: 100%; }
    @media only screen and (max-width: 768px) {
      .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-list {
        display: none; }
      .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow {
        top: 0; }
        .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow.slick-prev {
          left: 35%;
          right: auto; }
        .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow.slick-next {
          right: 35%; } }
    @media only screen and (max-width: 425px) {
      .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow.slick-prev {
        left: 30%; }
      .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-arrow.slick-next {
        right: 30%; } }

.bg-loancalculation {
  background-image: url("../../assets/images/banner/banner-loancalculation.png");
  /* Set a specific height */
  min-height: 570px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0; }

.loancalculation-wrapper .title {
  margin-bottom: 35px; }

.loancalculation-wrapper .type-loan {
  text-align: center;
  margin-bottom: 30px; }
  .loancalculation-wrapper .type-loan .title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 300; }
  .loancalculation-wrapper .type-loan .list-type {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 20px; }
    .loancalculation-wrapper .type-loan .list-type .text-type {
      position: relative;
      z-index: 1;
      display: inline-block;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #91989E;
      padding: 8px 15px;
      width: 225px;
      cursor: pointer; }
      .loancalculation-wrapper .type-loan .list-type .text-type.active {
        color: #fff; }
    .loancalculation-wrapper .type-loan .list-type .type-select {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #013CA6;
      width: 225px;
      padding: 8px 15px;
      border-radius: 20px;
      -webkit-transition: all .35s ease-out;
      -o-transition: all .35s ease-out;
      transition: all .35s ease-out; }
      .loancalculation-wrapper .type-loan .list-type .type-select.slide {
        left: 229px; }

.loancalculation-wrapper .revenue {
  margin-bottom: 30px; }
  .loancalculation-wrapper .revenue .title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 300;
    min-height: 44px; }
    .loancalculation-wrapper .revenue .title.mh-0 {
      min-height: 0; }

.loancalculation-wrapper .initial-maximum {
  margin-bottom: 50px; }
  .loancalculation-wrapper .initial-maximum .installment .title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 300; }
  .loancalculation-wrapper .initial-maximum .installment .type-installment {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      position: relative;
      -webkit-transition: all .35s ease-out;
      -o-transition: all .35s ease-out;
      transition: all .35s ease-out;
      cursor: pointer; }
      .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type .text {
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        padding: 25px 70px;
        color: #fff;
        opacity: 0.5; }
      .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type .icon {
        position: absolute;
        top: -5px;
        left: -33px; }
      .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type.active {
        background-color: #013ca6;
        -webkit-transition: all .35s ease-out;
        -o-transition: all .35s ease-out;
        transition: all .35s ease-out; }
        .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type.active .text {
          opacity: 1; }
      .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type:hover {
        background-color: #013ca6;
        -webkit-transition: all .35s ease-out;
        -o-transition: all .35s ease-out;
        transition: all .35s ease-out; }
        .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type:hover .text {
          opacity: 1; }

.loancalculation-wrapper .content-installment .title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

.loancalculation-wrapper .content-installment .range {
  margin: 40px 0; }
  .loancalculation-wrapper .content-installment .range .irs-single, .loancalculation-wrapper .content-installment .range .irs-min, .loancalculation-wrapper .content-installment .range .irs-max {
    display: none; }
  .loancalculation-wrapper .content-installment .range .irs-line {
    height: 6px; }
  .loancalculation-wrapper .content-installment .range .irs-bar {
    height: 6px;
    background-color: #FF7301; }
  .loancalculation-wrapper .content-installment .range .irs-handle {
    background-image: url("../../assets/images/icon/icon-range-slide.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    top: auto; }
    .loancalculation-wrapper .content-installment .range .irs-handle i {
      display: none; }
  .loancalculation-wrapper .content-installment .range .irs-grid .irs-grid-pol.small {
    display: none; }
  .loancalculation-wrapper .content-installment .range .irs-grid .irs-grid-text {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    bottom: -10px; }

.loancalculation-wrapper .privilege-wrapper {
  padding-top: 110px;
  position: relative;
  margin-bottom: 50px; }
  .loancalculation-wrapper .privilege-wrapper .icon-gift-cap {
    position: absolute;
    top: 11px;
    left: 0;
    max-width: 445px;
    z-index: 1;
    background-image: url("../../assets/images/icon/icon-gift-cap.svg");
    width: 100%;
    height: 195px;
    background-size: contain;
    background-repeat: no-repeat; }
    .loancalculation-wrapper .privilege-wrapper .icon-gift-cap img {
      width: 100%; }
  .loancalculation-wrapper .privilege-wrapper .box-privilege {
    background-color: #FAA560;
    border-radius: 20px;
    position: relative;
    margin-right: 20px;
    margin-left: 20px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .icon-star {
      position: absolute;
      top: 7px;
      left: -10px;
      width: 45px; }
      .loancalculation-wrapper .privilege-wrapper .box-privilege .icon-star img {
        width: 100%; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .title {
      text-align: center;
      font-weight: 500;
      font-size: 34px;
      line-height: 54px;
      margin-bottom: 20px;
      padding: 10px 0 0; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest {
      padding: 0 20px; }
      .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li {
          list-style: none;
          width: 50%;
          border-right: 1px solid #fff;
          text-align: center;
          padding-bottom: 15px; }
          .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li p {
            font-weight: 300;
            font-size: 20px;
            line-height: 28px;
            color: #373737; }
          .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li .text {
            font-weight: 400;
            font-size: 34px;
            line-height: 50px;
            color: #fff; }
          .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li:last-child {
            border-right: none; }

.loancalculation-wrapper .box-total-result {
  background-color: #fff;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 50px; }
  .loancalculation-wrapper .box-total-result .title {
    text-align: center;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #013CA6;
    margin-bottom: 0; }
  .loancalculation-wrapper .box-total-result .detail .item p {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #91989E; }
  .loancalculation-wrapper .box-total-result .detail .item .result {
    font-weight: 500;
    font-size: 34px;
    line-height: 54px;
    color: #3E75CE; }

.loancalculation-wrapper .btn-group-loan {
  margin-left: 15px;
  margin-right: 15px; }
  .loancalculation-wrapper .btn-group-loan .btn-link {
    max-width: none;
    width: 100%; }
    .loancalculation-wrapper .btn-group-loan .btn-link a {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }

@media only screen and (max-width: 1200px) {
  .loancalculation-wrapper .privilege-wrapper {
    padding-top: 94px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .icon-star {
      width: 35px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .title {
      font-size: 28px;
      line-height: 35px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li p {
      font-size: 16px;
      line-height: 24px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li .text {
      font-size: 30px;
      line-height: 44px; } }

@media only screen and (max-width: 991px) {
  .loancalculation-wrapper .privilege-wrapper {
    padding-top: 85px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .icon-star {
      width: 30px;
      left: -8px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .title {
      font-size: 25px;
      line-height: 30px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li {
        width: 100%;
        border-right: none;
        padding-bottom: 8px; }
  .loancalculation-wrapper .box-total-result .title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 32px; }
  .loancalculation-wrapper .box-total-result .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
    .loancalculation-wrapper .box-total-result .detail .item {
      width: 100%;
      margin-bottom: 10px; }
      .loancalculation-wrapper .box-total-result .detail .item:last-of-type {
        margin-bottom: 0; } }

@media only screen and (max-width: 767px) {
  .loancalculation-wrapper .privilege-wrapper {
    padding-top: 125px; }
    .loancalculation-wrapper .privilege-wrapper .icon-gift-cap {
      max-width: 100%; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .icon-star {
      width: 48px;
      left: -11px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .title {
      font-size: 34px;
      line-height: 54px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest {
      padding: 15px 0; }
      .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li {
          border-right: none;
          padding-bottom: 10px; }
          .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li p {
            font-size: 20px;
            line-height: 28px; }
          .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li .text {
            font-size: 32px;
            line-height: 44px; }
          .loancalculation-wrapper .privilege-wrapper .box-privilege .limit_interest ul li:last-child {
            padding-bottom: 0; } }

@media only screen and (max-width: 576px) {
  .loancalculation-wrapper .type-loan .list-type .type-select {
    width: 160px; }
    .loancalculation-wrapper .type-loan .list-type .type-select.slide {
      left: 164px; }
  .loancalculation-wrapper .type-loan .list-type .text-type {
    width: 160px; } }

@media only screen and (max-width: 425px) {
  .loancalculation-wrapper .initial-maximum .installment .type-installment {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type {
      margin-bottom: 30px; }
      .loancalculation-wrapper .initial-maximum .installment .type-installment .box-type:last-of-type {
        margin-bottom: 0; }
  .loancalculation-wrapper .privilege-wrapper {
    padding-top: 99px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .icon-star {
      width: 40px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .title {
      font-size: 28px;
      line-height: 36px; }
  .loancalculation-wrapper .box-total-result .title {
    margin-bottom: 20px; } }

@media only screen and (max-width: 375px) {
  .loancalculation-wrapper .privilege-wrapper {
    padding-top: 87px;
    margin-bottom: 30px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .icon-star {
      width: 32px; }
    .loancalculation-wrapper .privilege-wrapper .box-privilege .title {
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 10px; }
  .loancalculation-wrapper .box-total-result {
    margin-bottom: 30px; } }

.bg-formcredit {
  background-image: url("../../assets/images/banner/banner-form.png");
  /* Set a specific height */
  min-height: 570px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0; }

.formcredit-wrapper .custom-title-sub {
  max-width: 550px;
  margin: auto;
  margin-top: 20px; }

.formcredit-wrapper .form-wrapper .title-sub {
  margin-top: 30px;
  margin-bottom: 10px; }
  .formcredit-wrapper .form-wrapper .title-sub.in {
    margin-top: 15px; }
  .formcredit-wrapper .form-wrapper .title-sub.icon {
    position: relative; }
    .formcredit-wrapper .form-wrapper .title-sub.icon:before {
      content: '';
      display: block;
      background-image: url("../../assets/images/icon/icon-location-currency.png");
      background-repeat: no-repeat;
      width: 41px;
      height: 50px;
      position: absolute;
      top: -15px;
      left: 200px;
      -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg); }
    @media only screen and (max-width: 1024px) {
      .formcredit-wrapper .form-wrapper .title-sub.icon:before {
        left: 140px; } }
    @media only screen and (max-width: 767px) {
      .formcredit-wrapper .form-wrapper .title-sub.icon:before {
        left: 0; } }

.formcredit-wrapper .form-wrapper .bg-white {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px; }

.formcredit-wrapper .form-wrapper .box-form .group-result-initial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media only screen and (max-width: 425px) {
    .formcredit-wrapper .form-wrapper .box-form .group-result-initial {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.formcredit-wrapper .form-wrapper .box-form .result-initial {
  margin-bottom: 10px; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .title-sub {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #373737;
    margin-top: 0; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .financial-amount .style-input .inp-style {
    font-weight: 500;
    font-size: 52px;
    line-height: 58px;
    color: #013CA6;
    margin-bottom: 0; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .range {
    margin-bottom: 40px; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-single, .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-min, .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-max {
      display: none; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-line {
      height: 6px; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-bar {
      height: 6px;
      background-color: #FF7301; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-handle {
      background-image: url("../../assets/images/icon/icon-range-slide.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 44px;
      height: 44px;
      top: auto; }
      .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-handle i {
        display: none; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-grid .irs-grid-pol.small {
      display: none; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-grid .irs-grid-text {
      font-family: 'Kanit', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #91989E;
      bottom: -10px; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .result-main {
    font-weight: 500;
    font-size: 54px;
    line-height: 58px;
    color: #013CA6;
    text-align: center; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .result-mmr {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #91989E;
    text-align: center;
    margin-bottom: 30px; }

.formcredit-wrapper .form-wrapper .box-form .group-list {
  margin-bottom: 20px; }

.formcredit-wrapper .form-wrapper .box-form .consent {
  margin: 35px 0; }
  .formcredit-wrapper .form-wrapper .box-form .consent .style-input {
    margin-bottom: 0; }

.formcredit-wrapper .content-alert {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 20px 30px;
  top: -100px;
  width: 90%; }
  .formcredit-wrapper .content-alert .line1 {
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #013CA6;
    margin-bottom: 10px; }
  .formcredit-wrapper .content-alert .line2 {
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #013CA6;
    margin-bottom: 20px; }
  .formcredit-wrapper .content-alert .icon {
    position: absolute;
    bottom: 7px;
    right: 20px; }
    .formcredit-wrapper .content-alert .icon img {
      width: 65%; }
  .formcredit-wrapper .content-alert:after {
    content: '';
    display: block;
    background-image: url("../../assets/images/icon/icon-arrow-desktop.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 62px;
    top: 37px;
    right: -27px; }

@media only screen and (max-width: 991px) {
  .formcredit-wrapper .custom-title-sub {
    margin-bottom: 30px; }
  .formcredit-wrapper .content-alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: auto;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 79%;
    width: 550px;
    padding: 20px 20px 5px; }
    .formcredit-wrapper .content-alert .icon {
      position: relative;
      bottom: auto;
      right: auto; }
    .formcredit-wrapper .content-alert:after {
      content: '';
      display: block;
      background-image: url("../../assets/images/icon/icon-arrow-mobile.png");
      background-repeat: no-repeat;
      position: absolute;
      width: 76px;
      height: 62px;
      top: auto;
      bottom: -25px;
      right: 30px; } }

@media only screen and (max-width: 425px) {
  .formcredit-wrapper .content-alert {
    max-width: 100%; } }

.information-wrapper .title {
  margin-bottom: 35px; }

.information-wrapper .item-info {
  position: relative; }
  .information-wrapper .item-info .hover-img {
    overflow: hidden;
    border-radius: 10px; }
    .information-wrapper .item-info .hover-img .list {
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      width: 350px;
      height: 276px;
      -webkit-transition: all .5s ease-out;
      -o-transition: all .5s ease-out;
      transition: all .5s ease-out; }
  .information-wrapper .item-info .content {
    position: absolute;
    cursor: pointer;
    width: 100%;
    top: 0;
    padding: 20px;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.5);
    border-radius: 10px; }
    .information-wrapper .item-info .content .title-info {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      margin-bottom: 20px;
      padding-top: 60px; }
    .information-wrapper .item-info .content .desc-info {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
      max-width: 250px; }
    .information-wrapper .item-info .content .btn {
      position: absolute;
      width: 100%;
      bottom: 20px;
      left: 0;
      max-width: 150px;
      right: 0;
      margin: auto;
      border: 1px solid #fff;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
      padding: 5px 25px;
      border-radius: 20px; }
      .information-wrapper .item-info .content .btn a {
        color: #fff; }
  .information-wrapper .item-info:hover .hover-img .list {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out; }

@media only screen and (max-width: 991px) {
  .information-wrapper .item-info .hover-img .list {
    background-position: center center;
    width: 100%;
    height: 200px; }
  .information-wrapper .item-info .content {
    padding: 10px; }
    .information-wrapper .item-info .content .title-info {
      padding-top: 8px;
      margin-bottom: 5px; } }

@media only screen and (max-width: 767px) {
  .information-wrapper .item-info {
    margin-bottom: 30px; } }

@media only screen and (max-width: 425px) {
  .information-wrapper .item-info {
    margin-bottom: 25px; } }

@media only screen and (max-width: 425px) {
  .banner-wrapper .list-slide li .item .btn-link {
    display: none; }
  .register-online-m {
    display: block;
    position: fixed;
    z-index: 9998;
    width: 100%;
    bottom: 0px; }
    .register-online-m .btn-link {
      border-radius: 8px;
      max-width: 100%;
      background-color: #013CA6; }
      .register-online-m .btn-link a {
        padding: 10px 75px;
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .register-online-m .btn-link .text {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #fff; }
      .register-online-m .btn-link .icon {
        position: absolute;
        right: 10px;
        width: 34px;
        height: 34px; } }
