.content-wrapper {
  overflow: hidden; }
  .content-wrapper .cashexpress-wrapper {
    padding: 70px 0; }
  .content-wrapper.bg-interest-rate {
    padding: 70px 0 0;
    background-color: #F7F7F7; }
  .content-wrapper.information {
    padding: 70px 0; }

.cashexpress-wrapper .cashexpress-main ul {
  margin: 0;
  padding: 0; }
  .cashexpress-wrapper .cashexpress-main ul li .content-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px; }
    .cashexpress-wrapper .cashexpress-main ul li .content-main .img-cashexpress img {
      width: 100%; }
    .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress {
      padding-top: 80px;
      position: relative;
      height: 100%; }
      .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .title {
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: #373737;
        margin-bottom: 40px;
        padding-left: 15px;
        border-left: 4px solid #EE7B30; }
      .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .desc {
        font-weight: 300;
        font-size: 22px;
        line-height: 30px;
        color: #91989E;
        margin-bottom: 30px;
        padding-left: 20px; }
      .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .btn-link {
        position: absolute;
        bottom: 0;
        left: 0; }
  @media only screen and (max-width: 1199px) {
    .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .title {
      margin-bottom: 20px; }
    .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .btn-link {
      position: relative; } }
  @media only screen and (max-width: 991px) {
    .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress {
      padding-top: 30px; }
      .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 15px; }
      .cashexpress-wrapper .cashexpress-main ul li .content-main .detail-cashexpress .desc {
        font-size: 18px;
        line-height: 20px; } }
  @media only screen and (max-width: 575px) {
    .cashexpress-wrapper .cashexpress-main ul li .content-main {
      padding: 0 5px; } }
  .cashexpress-wrapper .cashexpress-main ul .slick-slide {
    padding: 20px 25px; }
  .cashexpress-wrapper .cashexpress-main ul .slick-arrow {
    top: auto;
    bottom: -50%; }
    .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-prev {
      width: 50px;
      height: 50px;
      left: -65px; }
      .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-prev:before {
        content: '';
        display: block;
        background-image: url("../../assets/images/icon/icon-left-circle.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #91989E;
        width: 50px;
        height: 50px;
        border-radius: 100%; }
    .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-next {
      width: 50px;
      height: 50px;
      right: -65px; }
      .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-next:before {
        content: '';
        display: block;
        background-image: url("../../assets/images/icon/icon-right-circle.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #91989E;
        width: 50px;
        height: 50px;
        border-radius: 100%; }
  @media only screen and (max-width: 1024px) {
    .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-prev {
      left: -35px; }
    .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-next {
      right: -35px; } }
  @media only screen and (max-width: 991px) {
    .cashexpress-wrapper .cashexpress-main ul .slick-arrow {
      top: 50%;
      bottom: auto; }
      .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-prev {
        left: -25px; }
      .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-next {
        right: -25px; } }
  @media only screen and (max-width: 767px) {
    .cashexpress-wrapper .cashexpress-main ul .slick-slide {
      padding: 0; }
    .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-prev {
      left: -50px; }
    .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-next {
      right: -50px; } }
  @media only screen and (max-width: 575px) {
    .cashexpress-wrapper .cashexpress-main ul .slick-arrow {
      top: auto;
      bottom: -25px; }
      .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-prev {
        left: 0; }
      .cashexpress-wrapper .cashexpress-main ul .slick-arrow.slick-next {
        right: 0; } }

@media only screen and (max-width: 575px) {
  .cashexpress-wrapper .cashexpress-main ul {
    padding-bottom: 95px; } }

.cashexpress-wrapper .cashexpress-thumb {
  padding-top: 30px; }
  .cashexpress-wrapper .cashexpress-thumb .list-thumb {
    margin: 0; }
    .cashexpress-wrapper .cashexpress-thumb .list-thumb li {
      list-style: none;
      cursor: pointer; }
      .cashexpress-wrapper .cashexpress-thumb .list-thumb li .img-thumb {
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .cashexpress-wrapper .cashexpress-thumb .list-thumb li .img-thumb img {
          width: 100%; }
        .cashexpress-wrapper .cashexpress-thumb .list-thumb li .img-thumb:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2); }
    .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-slide {
      padding: 20px; }
    @media only screen and (max-width: 768px) {
      .cashexpress-wrapper .cashexpress-thumb .list-thumb .slick-list {
        display: none; } }

.bg-loancalculation {
  background-image: url("../../assets/images/banner/banner-loancalculation.png");
  /* Set a specific height */
  min-height: 570px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 0; }
  .bg-loancalculation .bg-color-orange {
    background-color: #FFA900;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }
    .bg-loancalculation .bg-color-orange.show {
      padding: 30px;
      max-height: 581px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out; }
  @media only screen and (max-width: 991px) {
    .bg-loancalculation .bg-color-orange.show {
      max-height: 741px; } }
  @media only screen and (max-width: 767px) {
    .bg-loancalculation .bg-color-orange.show {
      padding: 30px 0;
      max-height: 912px; } }
  @media only screen and (max-width: 767px) {
    .bg-loancalculation .bg-color-orange.show {
      max-height: 1092px; } }

.loancalculation-wrapper .row-section {
  margin-bottom: 50px; }

.loancalculation-wrapper .style-input {
  padding-bottom: 0;
  max-width: 246px; }
  .loancalculation-wrapper .style-input.rang-slide {
    max-width: 100%; }
  .loancalculation-wrapper .style-input .inp-style {
    margin-bottom: 0;
    font-size: 26px;
    line-height: 32px; }
  .loancalculation-wrapper .style-input .text-before-input {
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #666; }

.loancalculation-wrapper .title {
  margin-bottom: 50px; }

.loancalculation-wrapper .title-loancalculation {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 0; }

.loancalculation-wrapper .type-loan .box-type, .loancalculation-wrapper .type-installment .box-type {
  background-color: white;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
  cursor: pointer;
  max-width: 246px;
  min-height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .loancalculation-wrapper .type-loan .box-type .text, .loancalculation-wrapper .type-installment .box-type .text {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    padding: 10px 20px 10px 60px;
    color: #373737;
    opacity: 0.4;
    max-width: 250px; }
  .loancalculation-wrapper .type-loan .box-type .icon-check, .loancalculation-wrapper .type-installment .box-type .icon-check {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/images/icon/icon_radio.png");
    background-repeat: no-repeat; }
  .loancalculation-wrapper .type-loan .box-type .icon, .loancalculation-wrapper .type-installment .box-type .icon {
    position: absolute;
    top: -5px;
    left: -33px; }
  .loancalculation-wrapper .type-loan .box-type.active, .loancalculation-wrapper .type-installment .box-type.active {
    background-color: #013ca6;
    -webkit-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out; }
    .loancalculation-wrapper .type-loan .box-type.active .text, .loancalculation-wrapper .type-installment .box-type.active .text {
      opacity: 1;
      color: #fff; }
    .loancalculation-wrapper .type-loan .box-type.active .icon-check, .loancalculation-wrapper .type-installment .box-type.active .icon-check {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 20px;
      height: 20px;
      background-image: url("../../assets/images/icon/icon_radio_checked.png");
      background-repeat: no-repeat; }
  .loancalculation-wrapper .type-loan .box-type:hover, .loancalculation-wrapper .type-installment .box-type:hover {
    background-color: #013ca6;
    -webkit-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out; }
    .loancalculation-wrapper .type-loan .box-type:hover .text, .loancalculation-wrapper .type-installment .box-type:hover .text {
      opacity: 1;
      color: #fff; }

.loancalculation-wrapper .content-installment .range {
  max-width: 560px; }
  .loancalculation-wrapper .content-installment .range .box-limit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .loancalculation-wrapper .content-installment .range .box-limit .min .text {
      font-size: 20px;
      line-height: 28px;
      color: #fff; }
    .loancalculation-wrapper .content-installment .range .box-limit .min .value-min {
      font-size: 20px;
      line-height: 28px;
      color: #fff; }
    .loancalculation-wrapper .content-installment .range .box-limit .max .style-input .inp-style {
      text-align: right;
      font-size: 36px;
      margin-bottom: 0; }
  .loancalculation-wrapper .content-installment .range .box-payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .loancalculation-wrapper .content-installment .range .box-payment .min .text {
      font-size: 20px;
      line-height: 28px;
      color: #fff; }
    .loancalculation-wrapper .content-installment .range .box-payment .min .value-min {
      font-size: 20px;
      line-height: 28px;
      color: #fff; }
    .loancalculation-wrapper .content-installment .range .box-payment .max .style-input .inp-style {
      text-align: right;
      font-size: 36px;
      margin-bottom: 0; }
  .loancalculation-wrapper .content-installment .range .irs--flat {
    height: 55px; }
  .loancalculation-wrapper .content-installment .range .irs-single, .loancalculation-wrapper .content-installment .range .irs-min, .loancalculation-wrapper .content-installment .range .irs-max {
    display: none; }
  .loancalculation-wrapper .content-installment .range .irs-line {
    height: 10px; }
  .loancalculation-wrapper .content-installment .range .irs-bar {
    height: 10px;
    background-color: #FF7301; }
  .loancalculation-wrapper .content-installment .range .irs-handle {
    background-image: url("../../assets/images/icon/icon-range-slide.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
    top: 16px; }
    .loancalculation-wrapper .content-installment .range .irs-handle i {
      display: none; }
  .loancalculation-wrapper .content-installment .range .irs-grid .irs-grid-pol.small {
    display: none; }
  .loancalculation-wrapper .content-installment .range .irs-grid .irs-grid-text {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    bottom: -10px; }

@media only screen and (max-width: 991px) {
  .loancalculation-wrapper .row-section {
    margin-bottom: 30px; }
  .loancalculation-wrapper .title-loancalculation {
    margin-bottom: 10px; }
  .loancalculation-wrapper .style-input {
    max-width: 300px; }
  .loancalculation-wrapper .type-loan .box-type, .loancalculation-wrapper .type-installment .box-type {
    max-width: 300px; }
  .loancalculation-wrapper .content-installment .range {
    max-width: 100%; } }

@media only screen and (max-width: 767px) {
  .loancalculation-wrapper {
    padding-bottom: 50px; }
    .loancalculation-wrapper .style-input {
      max-width: 220px; }
    .loancalculation-wrapper .type-loan .box-type, .loancalculation-wrapper .type-installment .box-type {
      max-width: 220px; }
      .loancalculation-wrapper .type-loan .box-type .text, .loancalculation-wrapper .type-installment .box-type .text {
        font-size: 22px;
        line-height: 28px;
        max-width: 100%; } }

@media only screen and (max-width: 576px) {
  .loancalculation-wrapper .style-input {
    max-width: 100%; }
  .loancalculation-wrapper .type-loan .box-type, .loancalculation-wrapper .type-installment .box-type {
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 30px; }
    .loancalculation-wrapper .type-loan .box-type .text, .loancalculation-wrapper .type-installment .box-type .text {
      font-size: 22px;
      line-height: 28px;
      max-width: 100%; } }

.total-wrapper .text-privilege {
  margin-top: -85px;
  margin-bottom: 15px; }
  .total-wrapper .text-privilege img {
    width: 100%; }

.total-wrapper .remark {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #373737; }

.total-wrapper .on-top {
  border-bottom: 2px solid #fff;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .total-wrapper .on-top .value {
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    color: #fff; }
  .total-wrapper .on-top .text {
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: #373737; }
  .total-wrapper .on-top .btn-link a .text {
    color: #fff; }
  .total-wrapper .on-top .btn-link.register-online {
    background-color: #013CA6; }

.total-wrapper .on-bottom .value {
  font-weight: 500;
  font-size: 38px;
  line-height: 42px;
  color: #fff; }

.total-wrapper .on-bottom .text {
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #373737;
  margin-bottom: 20px; }

.total-wrapper .table-responsive {
  margin-top: 15px; }

.total-wrapper table {
  border: 1px solid #fff;
  border-radius: 20px;
  border-collapse: separate;
  overflow: hidden; }
  .total-wrapper table tbody tr:nth-child(even) {
    background-color: inherit; }
  .total-wrapper table tbody tr:nth-child(odd) {
    background-color: inherit; }
  .total-wrapper table tbody tr td {
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #fff; }
    .total-wrapper table tbody tr td:first-child {
      font-weight: 300;
      font-size: 22px;
      line-height: 30px;
      color: #373737; }
  .total-wrapper table tbody tr:last-child td {
    border-bottom: none; }

@media only screen and (max-width: 991px) {
  .total-wrapper .text-privilege {
    text-align: center; }
    .total-wrapper .text-privilege img {
      width: 40%; }
  .total-wrapper .remark {
    margin-bottom: 20px; }
  .total-wrapper .on-top .text {
    font-size: 20px;
    line-height: 28px; }
  .total-wrapper .on-top .btn-link a {
    padding: 15px 60px 15px 25px; }
    .total-wrapper .on-top .btn-link a .icon {
      right: 15px; }
  .total-wrapper .on-bottom .text {
    font-size: 20px;
    line-height: 28px; } }

@media only screen and (max-width: 767px) {
  .total-wrapper .text-privilege {
    width: 250px;
    margin-left: auto;
    margin-right: auto; }
    .total-wrapper .text-privilege img {
      width: 100%; }
  .total-wrapper .on-top .text {
    margin-bottom: 20px; }
  .total-wrapper .on-top .btn-link a .text {
    margin-bottom: 0; } }

@media only screen and (max-width: 575px) {
  .total-wrapper .on-top .btn-link a {
    padding: 9px 55px 10px 15px; }
    .total-wrapper .on-top .btn-link a .text {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0; } }

.bg-formcredit {
  background-image: url("../../assets/images/banner/banner-form.png");
  /* Set a specific height */
  min-height: 570px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0; }

.formcredit-wrapper .custom-title-sub {
  max-width: 550px;
  margin: auto;
  margin-top: 20px; }

.formcredit-wrapper .form-wrapper .title-sub {
  margin-top: 10px;
  margin-bottom: 30px; }
  .formcredit-wrapper .form-wrapper .title-sub .req {
    color: #DD1B1B; }
  .formcredit-wrapper .form-wrapper .title-sub.in {
    margin-top: 15px; }
  .formcredit-wrapper .form-wrapper .title-sub.icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .formcredit-wrapper .form-wrapper .title-sub.icon.icon-1:before {
      background-image: url("../../assets/images/icon/icon_personal.png");
      width: 41px;
      height: 50px; }
    .formcredit-wrapper .form-wrapper .title-sub.icon.icon-2:before {
      background-image: url("../../assets/images/icon/icon_income.png");
      width: 45px;
      height: 27px; }
    .formcredit-wrapper .form-wrapper .title-sub.icon.icon-3:before {
      background-image: url("../../assets/images/icon/icon_debt.png");
      width: 41px;
      height: 30px; }
    .formcredit-wrapper .form-wrapper .title-sub.icon.icon-4:before {
      background-image: url("../../assets/images/icon/icon_loan_purpose.png");
      width: 45px;
      height: 38px; }
    .formcredit-wrapper .form-wrapper .title-sub.icon:before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      margin-right: 15px; }

.formcredit-wrapper .form-wrapper .bg {
  background-color: rgba(237, 239, 252, 0.9);
  padding: 20px;
  border-radius: 10px; }

.formcredit-wrapper .form-wrapper .box-form .group-result-initial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media only screen and (max-width: 425px) {
    .formcredit-wrapper .form-wrapper .box-form .group-result-initial {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.formcredit-wrapper .form-wrapper .box-form .result-initial {
  margin-bottom: 10px; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .title-sub {
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: #373737;
    margin-top: 0;
    margin-bottom: 0; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .financial-amount .style-input .inp-style {
    font-weight: 500;
    font-size: 52px;
    line-height: 58px;
    color: #013CA6;
    margin-bottom: 0; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .range {
    margin-bottom: 40px; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-single, .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-min, .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-max {
      display: none; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-line {
      height: 10px; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-bar {
      height: 10px;
      background-color: #FF7301; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-handle {
      background-image: url("../../assets/images/icon/icon-range-slide.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 26px;
      height: 26px;
      top: 16px; }
      .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-handle i {
        display: none; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-grid .irs-grid-pol.small {
      display: none; }
    .formcredit-wrapper .form-wrapper .box-form .result-initial .range .irs-grid .irs-grid-text {
      font-family: 'Kanit', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #91989E;
      bottom: -10px; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .result-main {
    font-weight: 500;
    font-size: 54px;
    line-height: 58px;
    color: #013CA6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
  .formcredit-wrapper .form-wrapper .box-form .result-initial .result-mmr {
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: #666666;
    text-align: center;
    margin-bottom: 30px; }

.formcredit-wrapper .form-wrapper .box-form .group-list {
  margin-bottom: 20px; }
  .formcredit-wrapper .form-wrapper .box-form .group-list .title-sub {
    margin-bottom: 20px; }

.formcredit-wrapper .form-wrapper .box-form .consent {
  margin: 35px 0; }
  .formcredit-wrapper .form-wrapper .box-form .consent .style-input {
    margin-bottom: 0; }

.formcredit-wrapper .content-alert {
  position: relative;
  background-image: url("../../assets/images/area_bubble.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 70px 20px 90px;
  width: 100%; }
  .formcredit-wrapper .content-alert .line1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center; }
  .formcredit-wrapper .content-alert .line2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    max-width: 205px;
    margin: auto; }
  .formcredit-wrapper .content-alert .icon {
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    margin: auto;
    width: 111px;
    height: 111px; }
    .formcredit-wrapper .content-alert .icon img {
      width: 80%; }
  .formcredit-wrapper .content-alert .icon-quote {
    position: absolute; }
    .formcredit-wrapper .content-alert .icon-quote.-open {
      top: 40px;
      left: 70px; }
    .formcredit-wrapper .content-alert .icon-quote.-close {
      bottom: 70px;
      right: 75px; }

@media only screen and (max-width: 991px) {
  .formcredit-wrapper .custom-title-sub {
    margin-bottom: 30px; }
  .formcredit-wrapper .content-alert {
    background-image: url("../../assets/images/area_bubble_2x.png");
    margin: 30px auto;
    padding: 70px 20px 110px; }
    .formcredit-wrapper .content-alert .line2 {
      max-width: 100%; } }

@media only screen and (max-width: 767px) {
  .formcredit-wrapper .content-alert {
    width: 100%; } }

@media only screen and (max-width: 425px) {
  .formcredit-wrapper .content-alert {
    background-image: url("../../assets/images/area_bubble_xs.png");
    margin: 30px auto;
    padding: 70px 20px 80px; } }

.information-wrapper .title {
  margin-bottom: 35px; }

.information-wrapper .item-info {
  position: relative; }
  .information-wrapper .item-info .hover-img {
    overflow: hidden;
    border-radius: 10px; }
    .information-wrapper .item-info .hover-img .list {
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      width: 350px;
      height: 276px;
      -webkit-transition: all .5s ease-out;
      -o-transition: all .5s ease-out;
      transition: all .5s ease-out; }
  .information-wrapper .item-info .content {
    position: absolute;
    cursor: pointer;
    width: 100%;
    top: 0;
    padding: 20px;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.5);
    border-radius: 10px; }
    .information-wrapper .item-info .content .title-info {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      margin-bottom: 20px;
      padding-top: 60px; }
    .information-wrapper .item-info .content .desc-info {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
      max-width: 250px; }
    .information-wrapper .item-info .content .btn {
      position: absolute;
      width: 100%;
      bottom: 20px;
      left: 0;
      max-width: 150px;
      right: 0;
      margin: auto;
      border: 1px solid #fff;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
      padding: 5px 25px;
      border-radius: 20px; }
      .information-wrapper .item-info .content .btn a {
        color: #fff; }
  .information-wrapper .item-info:hover .hover-img .list {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out; }

@media only screen and (max-width: 991px) {
  .information-wrapper .item-info .hover-img .list {
    background-position: center center;
    width: 100%;
    height: 200px; }
  .information-wrapper .item-info .content {
    padding: 10px; }
    .information-wrapper .item-info .content .title-info {
      padding-top: 8px;
      margin-bottom: 5px; } }

@media only screen and (max-width: 767px) {
  .information-wrapper .item-info {
    margin-bottom: 30px; } }

@media only screen and (max-width: 425px) {
  .information-wrapper .item-info {
    margin-bottom: 25px; } }
