@import '../variables';
.content-wrapper{
    .cashexpress-wrapper{
        padding: 70px 0;
    }
    &.bg-interest-rate{
        padding: 70px 0 0;
        background-color: #F7F7F7;
    }

    &.information{
        padding: 70px 0;
    }
}
.cashexpress-wrapper{
    //padding: 70px 0 0;
    .cashexpress-main{
        ul{
            margin: 0;
            padding: 0;
            li{
                .content-main{
                    display: flex;
                    padding: 0 20px;
                    .img-cashexpress{
                        img{
                            width: 100%;
                        }
                    }
                    .detail-cashexpress{
                        padding-top: 80px;
                        position: relative;
                        height: 100%;
                        .title{
                            font-weight: $font-medium;
                            font-size: 26px;
                            line-height: 32px;
                            color: #373737;
                            margin-bottom: 40px;
                            padding-left: 15px;
                            border-left: 4px solid #EE7B30;
                        }
                        .desc{
                            font-weight: $font-light;
                            font-size: 22px;
                            line-height: 30px;
                            color: #91989E;
                            margin-bottom: 30px;
                            padding-left: 20px;
                        }
                        .btn-link{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
                @media only screen and (max-width: 991px) {
                    .content-main{
                        .detail-cashexpress{
                            padding-top: 30px;
                            .title{
                                font-size: 18px;
                                line-height: 20px;
                                margin-bottom: 15px;
                            }
                            .desc{
                                font-size: 18px;
                                line-height: 20px;
                            }
                            .btn-link{
                                position: relative;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 575px) {
                    .content-main{
                        padding: 0 5px;
                    }
                }
            }
            .slick-slide {
                //margin: 0 30px;
                padding: 20px 25px;
            }
            .slick-arrow{
                top: auto;
                bottom: -50%;
                &.slick-prev{
                    width: 50px;
                    height: 50px;
                    left: -65px;
                    //right: 70px;
                    &:before{
                        content: '';
                        display: block;
                        background-image: url('../../assets/images/icon/icon-left-circle.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: #91989E;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                    }
                }
                &.slick-next{
                    width: 50px;
                    height: 50px;
                    right: -65px;
                    //right: 0;
                    &:before{
                        content: '';
                        display: block;
                        background-image: url('../../assets/images/icon/icon-right-circle.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: #91989E;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                    }
                }
            }

            @media only screen and (max-width: 991px) {        
                .slick-arrow{
                    top: 50%;
                    bottom: auto;
                }
            }
            @media only screen and (max-width: 767px) {
                .slick-slide {
                    padding: 0;
                }
            }
            @media only screen and (max-width: 575px) {
                .slick-arrow{
                    top: auto;
                    bottom: -25px;
                    &.slick-prev{
                        left: 0;
                    }
                    &.slick-next{
                        right: 0;
                    }
                }
            }
        }
        @media only screen and (max-width: 575px) {
            ul{
                padding-bottom: 95px;
            }
        }
    }
    .cashexpress-thumb{
        padding-top: 30px;
        .list-thumb{
            margin: 0;
            //padding: 50px 0 0;
            li{
                list-style: none;
                cursor: pointer;
                .img-thumb{
                    transition: all .2s ease-in-out;
                    img{
                        width: 100%;
                    }
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            .slick-slide {
                //margin: 0 30px;
                padding: 20px;
            }

            @media only screen and (max-width: 768px) {
                .slick-list{
                    display: none;
                }

            }
            
        }
    }
}


.bg-loancalculation{
    background-image: url("../../assets/images/banner/banner-loancalculation.png");
    /* Set a specific height */
    min-height: 570px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
}
.loancalculation-wrapper{

    .title{
        margin-bottom: 35px;
    }
    .type-loan{
        text-align: center;
        margin-bottom: 30px;
        .title{
            text-align: center;
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 22px;
            font-weight: $font-light;
        }
        .list-type{
            //display: flex;
            //align-items: center;
            position: relative;
            display: inline-block;
            background-color: #fff;
            border-radius: 20px;
            .text-type{
                position: relative;
                z-index: 1;
                display: inline-block;
                font-weight: $font-medium;
                font-size: 20px;
                line-height: 28px;
                color: #91989E;
                padding: 8px 15px;
                width: 225px;
                cursor: pointer;
                &.active{
                    color: #fff;
                }
            }
            .type-select{
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: #013CA6;
                width: 225px;
                padding: 8px 15px;
                border-radius: 20px;
                transition: all .35s ease-out;
                &.slide{
                    left: 229px;
                }
            }
        }
    }

    .revenue{
        margin-bottom: 30px;
        .title{
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 22px;
            font-weight: $font-light;
            min-height: 44px;
            &.mh-0{
                min-height: 0;
            }
        }
    }

    .initial-maximum{
        margin-bottom: 50px;
        .installment{
            .title{
                text-align: center;
                margin-bottom: 5px;
                font-size: 20px;
                line-height: 22px;
                font-weight: $font-light;
            }
            .type-installment{
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .box-type{
                    background-color: rgba($color: #fff, $alpha: 0.5);
                    border-radius: 10px;
                    position: relative;
                    transition: all .35s ease-out;
                    cursor: pointer;
                    width: 250px;
                    .text{
                        font-weight: $font-medium;
                        font-size: 36px;
                        line-height: 38px;
                        padding: 25px 20px 25px 80px;
                        color: #fff;
                        opacity: 0.5;
                    }
                    .icon{
                        position: absolute;
                        top: -5px;
                        left: -33px;
                    }
                    &.active{
                        background-color: rgba($color: #013CA6, $alpha: 1);
                        transition: all .35s ease-out;
                        .text{
                            opacity: 1;
                        }
                    }
                    &:hover{
                        background-color: rgba($color: #013CA6, $alpha: 1);
                        transition: all .35s ease-out;
                        .text{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .content-installment{
        .title{
            text-align: center;
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 22px;
            font-weight: $font-light;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }

        .range{
            margin: 40px 0;
            .box-limit{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .min{
                    .text{
                        font-size: 20px;
                        line-height: 28px;
                        color: #fff;
                    }
                    .value-min{
                        font-size: 20px;
                        line-height: 28px;
                        color: #fff;
                    }
                }
                .max{
                    .style-input{
                        .inp-style{
                            text-align: right;
                            font-size: 36px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .box-payment{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .min{
                    .text{
                        font-size: 20px;
                        line-height: 28px;
                        color: #fff;
                    }
                    .value-min{
                        font-size: 20px;
                        line-height: 28px;
                        color: #fff;
                    }
                }
                .max{
                    .style-input{
                        .inp-style{
                            text-align: right;
                            font-size: 36px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .style-input{
                height: 55px;
            }
            .irs-single, .irs-min, .irs-max{
                display: none;
            }
            .irs-line{
                height: 6px;
            }
            .irs-bar{
                height: 6px;
                background-color: #FF7301;
            }
            .irs-handle{
                background-image: url('../../assets/images/icon/icon-range-slide.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 44px;
                height: 44px;
                top: auto;
                i{
                    display: none;
                }
            }
            .irs-grid{
                .irs-grid-pol{
                    &.small{
                        display: none;
                    }
                }
                .irs-grid-text{
                    font-family: 'Kanit', sans-serif;
                    font-weight: $font-light;
                    font-size: 14px;
                    line-height: 16px;
                    color: #fff;
                    bottom: -10px;
                }
            }
        }
    }

    .privilege-wrapper{
        padding-top: 110px;
        position: relative;
        margin-bottom: 50px;
        .icon-gift-cap{
            position: absolute;
            top: 11px;
            left: 0;
            max-width: 445px;
            z-index: 1;
            background-image: url('../../assets/images/icon/icon-gift-cap.svg');
            width: 100%;
            height: 195px;
            background-size: contain;
            background-repeat: no-repeat;
            img{
                width: 100%;
            }
        }
        .box-privilege{
            background-color: #FAA560;
            border-radius: 20px;
            position: relative;
            margin-right: 20px;
            margin-left: 20px;
            .icon-star{
                position: absolute;
                top: 7px;
                left: -10px;
                width: 45px;
                img{
                    width: 100%;
                }
            }
            .title{
                text-align: center;
                font-weight: $font-medium;
                font-size: 34px;
                line-height: 54px;
                margin-bottom: 20px;
                padding: 10px 0 0;
            }
            .limit_interest{
                padding: 0 20px;
                ul{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    li{
                        list-style: none;
                        width: 50%;
                        border-right: 1px solid #fff;
                        text-align: center;
                        padding-bottom: 15px;
                        p{
                            font-weight: $font-light;
                            font-size: 20px;
                            line-height: 28px;
                            color: #373737;
                        }
                        .text{
                            font-weight: $font-regular;
                            font-size: 34px;
                            line-height: 50px;
                            color: #fff;
                        }

                        &:last-child{
                            border-right: none;
                        }
                    }
                }
            }
        }
    }

    .box-total-result{
        background-color: #fff;
        border-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px;
        margin-bottom: 50px;
        .title{
            text-align: left;
            font-weight: $font-regular;
            font-size: 34px;
            line-height: 40px;
            color: #013CA6;
            margin-bottom: 0;
        }
        .detail{
            .item{
                margin-bottom: 10px;
                p{
                    font-weight: $font-medium;
                    font-size: 18px;
                    line-height: 26px;
                    color: #91989E;
                }
                .result{
                    font-weight: $font-medium;
                    font-size: 34px;
                    line-height: 54px;
                    color: #3E75CE;
                }
                .style-input{
                    .inp-style{
                        font-weight: $font-medium;
                        font-size: 45px;
                        line-height: 52px;
                        color: #3E75CE;
                        margin-bottom: 0;
                        padding: 0;
                        height: auto;
                    }
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
        .data-table{
            margin-top: 15px;
            .table-custom{
                margin-bottom: 0;
                thead{
                    tr{
                        &:first-child{
                            th{
                                &:first-child{
                                    border-top-left-radius: 0;
                                }
                                &:last-child{
                                    border-top-right-radius: 0;
                                }
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            padding: 5px;
                        }
                        &:last-child{
                            td{
                                &:first-child{
                                    border-bottom-left-radius: 0;
                                }
                                &:last-child{
                                    border-bottom-right-radius: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-group-loan{
        margin-left: 15px;
        margin-right: 15px;
        .btn-link{
            max-width: none;
            width: 100%;
            a{
                justify-content: center;
            }
        }
    }


    @media only screen and (max-width: 1200px) {
        .privilege-wrapper{
            padding-top: 94px;
            .box-privilege{
                .icon-star{
                    width: 35px;
                }
                .title{
                    font-size: 28px;
                    line-height: 35px;
                }
                .limit_interest{
                    ul{
                        li{
                            p{
                                font-size: 16px;
                                line-height: 24px;
                            }
                            .text{
                                font-size: 30px;
                                line-height: 44px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 991px) {
        .privilege-wrapper{
            padding-top: 85px;
            .box-privilege{
                .icon-star{
                    width: 30px;
                    left: -8px;
                }
                .title{
                    font-size: 25px;
                    line-height: 30px;
                }
                .limit_interest{
                    ul{
                        flex-wrap: wrap;
                        li{
                            width: 100%;
                            border-right: none;
                            padding-bottom: 8px;
                            // p{
                            //     font-size: 14px;
                            //     line-height: 24px;
                            // }
                            // .text{
                            //     font-size: 28px;
                            //     line-height: 40px;
                            // }
                        }
                    }
                }
            }
        }
        .box-total-result{
            .title{
                margin-bottom: 20px;
                font-size: 28px;
                line-height: 32px;
            }
            .detail{
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                text-align: center;
                .item{
                    width: 100%;
                    margin-bottom: 10px;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .btn-group-loan{
            .btn-link{
                margin: 0 auto 30px;
                max-width: 275px;
                width: 100%;
                a{
                    justify-content: center;
                }
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .initial-maximum{
            .installment{
                .type-installment{
                    flex-wrap: wrap;
                    .box-type{
                        margin-bottom: 30px;
                        width: 260px;
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .privilege-wrapper{
            padding-top: 125px;
            .icon-gift-cap{
                max-width: 100%;
            }
            .box-privilege{
                .icon-star{
                    width: 48px;
                    left: -11px;
                }
                .title{
                    font-size: 34px;
                    line-height: 54px;
                }
                .limit_interest{
                    padding: 15px 0;
                    ul{
                        flex-wrap: wrap;
                        li{
                            border-right: none;
                            padding-bottom: 10px;
                            p{
                                font-size: 20px;
                                line-height: 28px;
                            }
                            .text{
                                font-size: 32px;
                                line-height: 44px;
                            }
                            &:last-child{
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .box-total-result{
            .data-table{
                .table-responsive{
                    .table{
                        width: 526px;
                    }
                }
            }
            .detail{
                .item{
                    .style-input{
                        .inp-style{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 576px) {
        .type-loan{
            .list-type{
                .type-select{
                    width: 160px;
                    &.slide{
                        left: 164px;
                    }
                }
                .text-type{
                    width: 160px;
                }
            }
        }
    }
    @media only screen and (max-width: 425px) {
        

        .privilege-wrapper{
            padding-top: 99px;
            .box-privilege{
                .icon-star{
                    width: 40px;
                }
                .title{
                    font-size: 28px;
                    line-height: 36px;
                }
            }
        }
        .box-total-result{
            .title{
                margin-bottom: 20px;
            }
        }
    }

    @media only screen and (max-width: 375px) {
        .privilege-wrapper{
            padding-top: 87px;
            margin-bottom: 30px;
            .box-privilege{
                .icon-star{
                    width: 32px;
                }
                .title{
                    font-size: 26px;
                    line-height: 34px;
                    margin-bottom: 10px;
                }
            }
        }
        .box-total-result{
            margin-bottom: 30px;
        }
    }
}


.bg-formcredit{
    background-image: url("../../assets/images/banner/banner-form.png");
    /* Set a specific height */
    min-height: 570px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}
.formcredit-wrapper{
    .custom-title-sub{
        max-width: 550px;
        margin: auto;
        margin-top: 20px;
    }

    .form-wrapper{
        .title-sub{
            margin-top: 30px;
            margin-bottom: 10px;
            &.in{
                margin-top: 15px;
            }
            &.icon{
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    background-image: url('../../assets/images/icon/icon-location-currency.png');
                    background-repeat: no-repeat;
                    width: 41px;
                    height: 50px;
                    position: absolute;
                    top: -15px;
                    left: 200px;
                    transform: rotate(-10deg);
                }
        
                @media only screen and (max-width: 1024px) {
                    &:before{
                        left: 140px;
                    }
                }
                @media only screen and (max-width: 767px) {
                    &:before{
                        left: 0;
                    }
                }
            }
        }
        .bg-white{
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
        }

        .box-form{
            .group-result-initial{
                display: flex;
                align-items: center;
                justify-content: space-around;
                @media only screen and (max-width: 425px) {
                    flex-wrap: wrap;
                }
            }
            .result-initial{
                margin-bottom: 10px;
                .title-sub{
                    font-weight: $font-light;
                    font-size: 20px;
                    line-height: 30px;
                    color: #373737;
                    margin-top: 0;
                }
                .financial-amount{
                    .style-input{
                        .inp-style{
                            font-weight: $font-medium;
                            font-size: 52px;
                            line-height: 58px;
                            color: #013CA6;
                            margin-bottom: 0;
                        }
                    }
                }
                .range{
                    margin-bottom: 40px;
                    .irs-single, .irs-min, .irs-max{
                        display: none;
                    }
                    .irs-line{
                        height: 6px;
                    }
                    .irs-bar{
                        height: 6px;
                        background-color: #FF7301;
                    }
                    .irs-handle{
                        background-image: url('../../assets/images/icon/icon-range-slide.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 44px;
                        height: 44px;
                        top: auto;
                        i{
                            display: none;
                        }
                    }
                    .irs-grid{
                        .irs-grid-pol{
                            &.small{
                                display: none;
                            }
                        }
                        .irs-grid-text{
                            font-family: 'Kanit', sans-serif;
                            font-weight: $font-light;
                            font-size: 14px;
                            line-height: 16px;
                            color: #91989E;
                            bottom: -10px;
                        }
                    }
                }

                .result-main{
                    font-weight: $font-medium;
                    font-size: 54px;
                    line-height: 58px;
                    color: #013CA6;
                    text-align: center;
                }
                .result-mmr{
                    font-weight: $font-light;
                    font-size: 20px;
                    line-height: 30px;
                    color: #91989E;
                    text-align: center;

                    margin-bottom: 30px;
                }
            }

            .group-list{
                margin-bottom: 20px;
            }
            .consent{
                margin: 35px 0;
                .style-input{
                    margin-bottom: 0;
                }
            }
        }
    }

    .content-alert{
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 20px 30px;
        top: -100px;
        width: 90%;
        .line1{
            font-weight: $font-medium;
            font-size: 21px;
            line-height: 28px;
            color: #013CA6;
            margin-bottom: 10px;
        }
        .line2{
            font-weight: $font-light;
            font-size: 21px;
            line-height: 28px;
            color: #013CA6;
            margin-bottom: 20px;
        }
        .icon{
            position: absolute;
            bottom: 7px;
            right: 20px;
            img{
                width: 65%;
            }
        }

        &:after{
            content: '';
            display: block;
            background-image: url('../../assets/images/icon/icon-arrow-desktop.png');
            background-repeat: no-repeat;
            position: absolute;
            width: 35px;
            height: 62px;
            top: 37px;
            right: -27px;
        }
    }
    
    @media only screen and (max-width: 991px) {
        .custom-title-sub{
            margin-bottom: 30px;
        }
        .content-alert{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // height: 156px;
            // width: 355px;
            top: auto;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            max-width: 79%;
            width: 550px;
            padding: 20px 20px 5px;
            .icon{
                position: relative;
                bottom: auto;
                right: auto;
            }
            &:after{
                content: '';
                display: block;
                background-image: url('../../assets/images/icon/icon-arrow-mobile.png');
                background-repeat: no-repeat;
                position: absolute;
                width: 76px;
                height: 62px;
                top: auto;
                bottom: -25px;
                right: 30px;
            }
        }
    }

    @media only screen and (max-width: 425px) {
        .content-alert{
            max-width: 100%;
        }
    }
    
}

.information-wrapper{
    .title{
        margin-bottom: 35px;
    }
    .item-info{
        position: relative;
        .hover-img{
            overflow: hidden;
            border-radius: 10px;
            .list{
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                width: 350px;
                height: 276px;
                transition: all .5s ease-out;
            }
        }
        .content{
            position: absolute;
            cursor: pointer;
            width: 100%;
            top: 0;
            padding: 20px;
            height: 100%;
            background-color: rgba($color: #373737, $alpha: 0.5);
            border-radius: 10px;
            .title-info{
                font-weight: $font-medium;
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                margin-bottom: 20px;
                padding-top: 60px;
            }
            .desc-info{
                font-weight: $font-light;
                font-size: 14px;
                line-height: 22px;
                color: #fff;
                max-width: 250px;
            }
            .btn{
                position: absolute;
                width: 100%;
                bottom: 20px;
                left: 0;
                max-width: 150px;
                right: 0;
                margin: auto;
                border: 1px solid #fff;
                font-weight: $font-light;
                font-size: 14px;
                line-height: 22px;
                color: #fff;
                padding: 5px 25px;
                border-radius: 20px;
                a{
                    color: #fff;
                }
            }
        }
        &:hover{
            .hover-img{
                .list{
                    transform: scale(1.2);
                    transition: all .5s ease-out;
                }
            }
        }
    }
    
    @media only screen and (max-width: 991px) {
        .item-info{
            .hover-img{
                .list{
                    background-position: center center;
                    width: 100%;
                    height: 200px;
                }
            }
            .content{
                padding: 10px;
                .title-info{
                    padding-top: 8px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .item-info{
            margin-bottom: 30px;
        }
    }

    @media only screen and (max-width: 425px) {
        .item-info{
            margin-bottom: 25px;
        }
    }
}




