@import '../variables';
.content-wrapper{
    .cashexpress-wrapper{
        padding: 70px 0;
    }
    &.bg-interest-rate{
        padding: 70px 0 0;
        background-color: #F7F7F7;
    }

    &.information{
        padding: 70px 0;
    }
}
.cashexpress-wrapper{
    //padding: 70px 0 0;
    .cashexpress-main{
        ul{
            margin: 0;
            padding: 0;
            li{
                .content-main{
                    display: flex;
                    padding: 0 20px;
                    .img-cashexpress{
                        img{
                            width: 100%;
                        }
                    }
                    .detail-cashexpress{
                        padding-top: 80px;
                        position: relative;
                        height: 100%;
                        .title{
                            font-weight: $font-medium;
                            font-size: 26px;
                            line-height: 32px;
                            color: #373737;
                            margin-bottom: 40px;
                            padding-left: 15px;
                            border-left: 4px solid #EE7B30;
                        }
                        .desc{
                            font-weight: $font-light;
                            font-size: 22px;
                            line-height: 30px;
                            color: #91989E;
                            margin-bottom: 30px;
                            padding-left: 20px;
                        }
                        .btn-link{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
                @media only screen and (max-width: 1199px) {
                    .content-main{
                        .detail-cashexpress{
                            .title{
                                margin-bottom: 20px;
                            }
                            .btn-link{
                                position: relative;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 991px) {
                    .content-main{
                        .detail-cashexpress{
                            padding-top: 30px;
                            .title{
                                font-size: 18px;
                                line-height: 20px;
                                margin-bottom: 15px;
                            }
                            .desc{
                                font-size: 18px;
                                line-height: 20px;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 575px) {
                    .content-main{
                        padding: 0 5px;
                    }
                }
            }
            .slick-slide {
                //margin: 0 30px;
                padding: 20px 25px;
            }
            .slick-arrow{
                top: auto;
                bottom: -50%;
                &.slick-prev{
                    width: 50px;
                    height: 50px;
                    left: -65px;
                    //right: 70px;
                    &:before{
                        content: '';
                        display: block;
                        background-image: url('../../assets/images/icon/icon-left-circle.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: #91989E;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                    }
                }
                &.slick-next{
                    width: 50px;
                    height: 50px;
                    right: -65px;
                    //right: 0;
                    &:before{
                        content: '';
                        display: block;
                        background-image: url('../../assets/images/icon/icon-right-circle.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: #91989E;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                    }
                }
            }

            @media only screen and (max-width: 1024px){
                .slick-arrow{
                    &.slick-prev{
                        left: -35px;
                    }
                    &.slick-next{
                        right: -35px;
                    }
                }
            }
            @media only screen and (max-width: 991px) {        
                .slick-arrow{
                    top: 50%;
                    bottom: auto;
                    &.slick-prev{
                        left: -25px;
                    }
                    &.slick-next{
                        right: -25px;
                    }
                }
            }
            @media only screen and (max-width: 767px) {
                .slick-slide {
                    padding: 0;
                }
                .slick-arrow{
                    &.slick-prev{
                        left: -50px;
                    }
                    &.slick-next{
                        right: -50px;
                    }
                }
            }
            @media only screen and (max-width: 575px) {
                .slick-arrow{
                    top: auto;
                    bottom: -25px;
                    &.slick-prev{
                        left: 0;
                    }
                    &.slick-next{
                        right: 0;
                    }
                }
            }
        }
        @media only screen and (max-width: 575px) {
            ul{
                padding-bottom: 95px;
            }
        }
    }
    .cashexpress-thumb{
        padding-top: 30px;
        .list-thumb{
            margin: 0;
            //padding: 50px 0 0;
            li{
                list-style: none;
                cursor: pointer;
                .img-thumb{
                    transition: all .2s ease-in-out;
                    img{
                        width: 100%;
                    }
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            .slick-slide {
                //margin: 0 30px;
                padding: 20px;
            }

            @media only screen and (max-width: 768px) {
                .slick-list{
                    display: none;
                }

            }
            
        }
    }
}


.bg-loancalculation{
    background-image: url("../../assets/images/banner/banner-loancalculation.png");
    /* Set a specific height */
    min-height: 570px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 0;
    .bg-color-orange{
        background-color: #FFA900;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s ease-in-out;
        &.show{
            padding: 30px;
            max-height: 581px;
            opacity: 1;
            visibility: visible;
            transition: all 0.35s ease-in-out;
        }
    }
    @media only screen and (max-width: 991px) {
        .bg-color-orange{
            &.show{
                max-height: 741px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .bg-color-orange{
            &.show{
                padding: 30px 0;
                max-height: 912px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .bg-color-orange{
            &.show{
                max-height: 1092px;
            }
        }
    }
}
.loancalculation-wrapper{
    .row-section{
        margin-bottom: 50px;
    }
    .style-input{
        padding-bottom: 0;
        max-width: 246px;
        &.rang-slide{
            max-width: 100%;
        }
        .inp-style{
            margin-bottom: 0;
            font-size: 26px;
            line-height: 32px;
        }
        .text-before-input{
            position: absolute;
            top: 15px;
            left: 15px;
            font-weight: $font-regular;
            font-size: 27px;
            line-height: 36px;
            color: #666;
        }
    }

    .title{
        margin-bottom: 50px;
    }
    .title-loancalculation{
        font-size: 22px;
        line-height: 30px;
        font-weight: $font-light;
        margin-bottom: 0;
    }
    .type-loan, .type-installment{
        .box-type{
            background-color: rgba($color: #fff, $alpha: 1);
            border-radius: 10px;
            position: relative;
            transition: all .35s ease-out;
            cursor: pointer;
            max-width: 246px;
            min-height: 84px;
            display: flex;
            align-items: center;
            .text{
                font-weight: $font-medium;
                font-size: 26px;
                line-height: 32px;
                padding: 10px 20px 10px 60px;
                color: #373737;
                opacity: 0.4;
                max-width: 250px;
            }
            .icon-check{
                position: absolute;
                right: 5px;
                top: 5px;
                width: 20px;
                height: 20px;
                background-image: url('../../assets/images/icon/icon_radio.png');
                background-repeat: no-repeat;
            }
            .icon{
                position: absolute;
                top: -5px;
                left: -33px;
            }
            &.active{
                background-color: rgba($color: #013CA6, $alpha: 1);
                transition: all .35s ease-out;
                .text{
                    opacity: 1;
                    color: #fff;
                }
                .icon-check{
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    width: 20px;
                    height: 20px;
                    background-image: url('../../assets/images/icon/icon_radio_checked.png');
                    background-repeat: no-repeat;
                }
            }
            &:hover{
                background-color: rgba($color: #013CA6, $alpha: 1);
                transition: all .35s ease-out;
                .text{
                    opacity: 1;
                    color: #fff;
                }
            }
        }
    }

    .content-installment{
        .range{
            max-width: 560px;
            .box-limit{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .min{
                    .text{
                        font-size: 20px;
                        line-height: 28px;
                        color: #fff;
                    }
                    .value-min{
                        font-size: 20px;
                        line-height: 28px;
                        color: #fff;
                    }
                }
                .max{
                    .style-input{
                        .inp-style{
                            text-align: right;
                            font-size: 36px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .box-payment{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .min{
                    .text{
                        font-size: 20px;
                        line-height: 28px;
                        color: #fff;
                    }
                    .value-min{
                        font-size: 20px;
                        line-height: 28px;
                        color: #fff;
                    }
                }
                .max{
                    .style-input{
                        .inp-style{
                            text-align: right;
                            font-size: 36px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .irs--flat{
                height: 55px;
            }
            .irs-single, .irs-min, .irs-max{
                display: none;
            }
            .irs-line{
                height: 10px;
            }
            .irs-bar{
                height: 10px;
                background-color: #FF7301;
            }
            .irs-handle{
                background-image: url('../../assets/images/icon/icon-range-slide.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 26px;
                height: 26px;
                top: 16px;
                i{
                    display: none;
                }
            }
            .irs-grid{
                .irs-grid-pol{
                    &.small{
                        display: none;
                    }
                }
                .irs-grid-text{
                    font-family: 'Kanit', sans-serif;
                    font-weight: $font-light;
                    font-size: 14px;
                    line-height: 16px;
                    color: #fff;
                    bottom: -10px;
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
    }
    @media only screen and (max-width: 991px) {
        .row-section{
            margin-bottom: 30px;
        }
        .title-loancalculation{
            margin-bottom: 10px;
        }
        .style-input{
            max-width: 300px;
        }
        .type-loan, .type-installment{
            .box-type{
                max-width: 300px;
            }
        }
        .content-installment{
            .range{
                max-width: 100%;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        padding-bottom: 50px;
        .style-input{
            max-width: 220px;
        }
        .type-loan, .type-installment{
            .box-type{
                max-width: 220px;
                .text{
                    font-size: 22px;
                    line-height: 28px;
                    max-width: 100%;
                }
            }
        }
    }
    @media only screen and (max-width: 576px) {
        .style-input{
            max-width: 100%;
        }
        .type-loan, .type-installment{
            .box-type{
                max-width: 100%;
                margin-bottom: 20px;
                margin-left: 30px;
                .text{
                    font-size: 22px;
                    line-height: 28px;
                    max-width: 100%;
                }
            }
        }
    }
    @media only screen and (max-width: 425px) {
    }

    @media only screen and (max-width: 375px) {
    }
}
.total-wrapper{
    .text-privilege{
        margin-top: -85px;
        margin-bottom: 15px;
        // font-weight: $font-medium;
        // font-size: 38px;
        // line-height: 42px;
        // text-align: center;
        // position: relative;
        // color: #373737;
        // margin-bottom: 40px;
        // &::after{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: -88px;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-image: url('../../assets/images/bg-gift.png');
        //     background-repeat: no-repeat;
        //     background-size: 100% 100%;
        //     padding: 93px 0;
        // }
        img{
            width: 100%;
        }
    }
    .remark{
        font-weight: $font-light;
        font-size: 16px;
        line-height: 22px;
        color: #373737;
    }
    .on-top{
        border-bottom: 2px solid #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        .value{
            font-weight: $font-medium;
            font-size: 38px;
            line-height: 42px;
            color: #fff;
        }
        .text{
            font-weight: $font-light;
            font-size: 22px;
            line-height: 30px;
            color: #373737;
        }
        .btn-link{
            a{
                .text{
                    color: #fff;
                }
            }
            &.register-online{
                background-color: $color-primary;
            }
        }
    }
    .on-bottom{
        .value{
            font-weight: $font-medium;
            font-size: 38px;
            line-height: 42px;
            color: #fff;
        }
        .text{
            font-weight: $font-light;
            font-size: 22px;
            line-height: 30px;
            color: #373737;
            margin-bottom: 20px;
        }
    }
    .table-responsive{
        margin-top: 15px;
    }
    table{
        border: 1px solid #fff;
        border-radius: 20px;
        border-collapse: separate;
        overflow: hidden;
        tbody{
            tr{
                &:nth-child(even){
                    background-color: inherit;
                }
                &:nth-child(odd){
                    background-color: inherit;
                }
                td{
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    font-weight: $font-medium;
                    font-size: 26px;
                    line-height: 32px;
                    color: #fff;
                    &:first-child{
                        font-weight: $font-light;
                        font-size: 22px;
                        line-height: 30px;
                        color: #373737;
                    }
                }
                &:last-child{
                    td{
                        border-bottom: none;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 991px) {
        .text-privilege{
            text-align: center;
            img{
                width: 40%;
            }
        }
        .remark{
            margin-bottom: 20px;
        }
        .on-top{
            .text{
                font-size: 20px;
                line-height: 28px;
            }
            .btn-link{
                a{
                    padding: 15px 60px 15px 25px;
                    .icon{
                        right: 15px;
                    }
                }
            }
        }
        .on-bottom{
            .text{
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .text-privilege{
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 100%;
            }
        }
        .on-top{
            .text{
                margin-bottom: 20px;
            }
            .btn-link{
                a{
                    .text{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 575px) {
        .on-top{
            .btn-link{
                a{
                    padding: 9px 55px 10px 15px;
                    .text{
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


.bg-formcredit{
    background-image: url("../../assets/images/banner/banner-form.png");
    /* Set a specific height */
    min-height: 570px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}
.formcredit-wrapper{
    .custom-title-sub{
        max-width: 550px;
        margin: auto;
        margin-top: 20px;
    }

    .form-wrapper{
        .title-sub{
            margin-top: 10px;
            margin-bottom: 30px;
            .req{
                color: #DD1B1B;
            }
            &.in{
                margin-top: 15px;
            }
            &.icon{
                position: relative;
                display: flex;
                align-items: center;
                &.icon-1{
                    &:before{
                        background-image: url('../../assets/images/icon/icon_personal.png');
                        width: 41px;
                        height: 50px;
                    }
                }
                &.icon-2{
                    &:before{
                        background-image: url('../../assets/images/icon/icon_income.png');
                        width: 45px;
                        height: 27px;
                    }
                }
                &.icon-3{
                    &:before{
                        background-image: url('../../assets/images/icon/icon_debt.png');
                        width: 41px;
                        height: 30px;
                    }
                }
                &.icon-4{
                    &:before{
                        background-image: url('../../assets/images/icon/icon_loan_purpose.png');
                        width: 45px;
                        height: 38px;
                    }
                }
                &:before{
                    content: '';
                    display: block;
                    background-repeat: no-repeat;
                    margin-right: 15px;
                }
            }
        }
        .bg{
            background-color: rgba($color: #EDEFFC, $alpha: 0.9);
            padding: 20px;
            border-radius: 10px;
        }

        .box-form{
            .group-result-initial{
                display: flex;
                align-items: center;
                justify-content: space-around;
                @media only screen and (max-width: 425px) {
                    flex-wrap: wrap;
                }
            }
            .result-initial{
                margin-bottom: 10px;
                .title-sub{
                    font-weight: $font-light;
                    font-size: 22px;
                    line-height: 30px;
                    color: #373737;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                .financial-amount{
                    .style-input{
                        .inp-style{
                            font-weight: $font-medium;
                            font-size: 52px;
                            line-height: 58px;
                            color: #013CA6;
                            margin-bottom: 0;
                        }
                    }
                }
                .range{
                    margin-bottom: 40px;
                    .irs-single, .irs-min, .irs-max{
                        display: none;
                    }
                    .irs-line{
                        height: 10px;
                    }
                    .irs-bar{
                        height: 10px;
                        background-color: #FF7301;
                    }
                    .irs-handle{
                        background-image: url('../../assets/images/icon/icon-range-slide.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 26px;
                        height: 26px;
                        top: 16px;
                        i{
                            display: none;
                        }
                    }
                    .irs-grid{
                        .irs-grid-pol{
                            &.small{
                                display: none;
                            }
                        }
                        .irs-grid-text{
                            font-family: 'Kanit', sans-serif;
                            font-weight: $font-light;
                            font-size: 14px;
                            line-height: 16px;
                            color: #91989E;
                            bottom: -10px;
                        }
                    }
                }

                .result-main{
                    font-weight: $font-medium;
                    font-size: 54px;
                    line-height: 58px;
                    color: #013CA6;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .result-mmr{
                    font-weight: $font-light;
                    font-size: 22px;
                    line-height: 30px;
                    color: #666666;
                    text-align: center;

                    margin-bottom: 30px;
                }
            }

            .group-list{
                margin-bottom: 20px;
                .title-sub{
                    margin-bottom: 20px;
                }
            }
            .consent{
                margin: 35px 0;
                .style-input{
                    margin-bottom: 0;
                }
            }
        }
    }

    .content-alert{
        position: relative;
        //background-color: #fff;
        background-image: url('../../assets/images/area_bubble.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 70px 20px 90px;
        //top: -100px;
        width: 100%;
        .line1{
            font-weight: $font-medium;
            font-size: 20px;
            line-height: 28px;
            color: #fff;
            margin-bottom: 10px;
            text-align: center;
        }
        .line2{
            font-weight: $font-light;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            margin-bottom: 20px;
            text-align: center;
            max-width: 205px;
            margin: auto;
        }
        .icon{
            position: absolute;
            top: -30px;
            right: 0;
            left: 0;
            margin: auto;
            width: 111px;
            height: 111px;
            img{
                width: 80%;
            }
        }
        .icon-quote{
            position: absolute;
            &.-open{
                top: 40px;
                left: 70px;
            }
            &.-close{
                bottom: 70px;
                right: 75px;
            }
        }
    }
    
    @media only screen and (max-width: 991px) {
        .custom-title-sub{
            margin-bottom: 30px;
        }
        .content-alert{
            background-image: url('../../assets/images/area_bubble_2x.png');
            margin: 30px auto;
            padding: 70px 20px 110px;
            .line2{
                max-width: 100%;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .content-alert{
            width: 100%;
        }
    }
    @media only screen and (max-width: 425px) {
        .content-alert{
            background-image: url('../../assets/images/area_bubble_xs.png');
            margin: 30px auto;
            padding: 70px 20px 80px;
        }
    }
    
}

.information-wrapper{
    .title{
        margin-bottom: 35px;
    }
    .item-info{
        position: relative;
        .hover-img{
            overflow: hidden;
            border-radius: 10px;
            .list{
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                width: 350px;
                height: 276px;
                transition: all .5s ease-out;
            }
        }
        .content{
            position: absolute;
            cursor: pointer;
            width: 100%;
            top: 0;
            padding: 20px;
            height: 100%;
            background-color: rgba($color: #373737, $alpha: 0.5);
            border-radius: 10px;
            .title-info{
                font-weight: $font-medium;
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                margin-bottom: 20px;
                padding-top: 60px;
            }
            .desc-info{
                font-weight: $font-light;
                font-size: 14px;
                line-height: 22px;
                color: #fff;
                max-width: 250px;
            }
            .btn{
                position: absolute;
                width: 100%;
                bottom: 20px;
                left: 0;
                max-width: 150px;
                right: 0;
                margin: auto;
                border: 1px solid #fff;
                font-weight: $font-light;
                font-size: 14px;
                line-height: 22px;
                color: #fff;
                padding: 5px 25px;
                border-radius: 20px;
                a{
                    color: #fff;
                }
            }
        }
        &:hover{
            .hover-img{
                .list{
                    transform: scale(1.2);
                    transition: all .5s ease-out;
                }
            }
        }
    }
    
    @media only screen and (max-width: 991px) {
        .item-info{
            .hover-img{
                .list{
                    background-position: center center;
                    width: 100%;
                    height: 200px;
                }
            }
            .content{
                padding: 10px;
                .title-info{
                    padding-top: 8px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .item-info{
            margin-bottom: 30px;
        }
    }

    @media only screen and (max-width: 425px) {
        .item-info{
            margin-bottom: 25px;
        }
    }
}




