@import '../variables';

.register-online-m{
    display: none;
}

.content-wrapper{
    margin-bottom: 70px;

    &.-cashexpress{
        padding: 0 70px;
        @media only screen and (max-width: 425px) {
            padding: 0;
        }
    }
}
.cashexpress-wrapper{
    //padding: 70px 0 0;
    .cashexpress-main{
        ul{
            margin: 0;
            padding: 0;
            li{
                .content-main{
                    display: flex;
                    padding: 0 20px;
                    .img-cashexpress{
                        img{
                            width: 100%;
                        }
                    }
                    .detail-cashexpress{
                        .title{
                            font-weight: $font-medium;
                            font-size: 20px;
                            line-height: 22px;
                            color: #373737;
                            margin-bottom: 50px;
                            padding-left: 15px;
                            border-left: 4px solid #EE7B30;
                        }
                        .desc{
                            font-weight: $font-light;
                            font-size: 20px;
                            line-height: 22px;
                            color: #91989E;
                        }
                    }
                }

                @media only screen and (max-width: 768px) {
                    .content-main{
                        
                        .detail-cashexpress{
                            .title{
                                font-size: 18px;
                                line-height: 20px;
                                margin-bottom: 15px;
                            }
                            .desc{
                                font-size: 18px;
                                line-height: 20px;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 425px) {
                    .content-main{
                        .img-cashexpress{
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
    .cashexpress-thumb{
        padding-top: 50px;
        .list-thumb{
            margin: 0;
            //padding: 50px 0 0;
            li{
                list-style: none;
                cursor: pointer;
                .img-thumb{
                    img{
                        width: 100%;
                    }
                }
            }

            .slick-slide {
                margin: 0 10px;
              }
            .slick-arrow{
                //top: 0;
                top: 58%;
                &.slick-prev{
                    width: 50px;
                    height: 50px;
                    left: -65px;
                    //right: 70px;
                    &:before{
                        content: '';
                        display: block;
                        background-image: url('../../assets/images/icon/icon-left-circle.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: #91989E;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                    }
                }
                &.slick-next{
                    width: 50px;
                    height: 50px;
                    right: -65px;
                    //right: 0;
                    &:before{
                        content: '';
                        display: block;
                        background-image: url('../../assets/images/icon/icon-right-circle.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: #91989E;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                    }
                }
            }

            @media only screen and (max-width: 425px) {
                .slick-list{
                    display: none;
                }

                .slick-arrow{
                    top: 0;
                    &.slick-prev{
                        left: 35%;
                        right: auto;
                    }
                    &.slick-next{
                        right: 35%;
                    }
                }
            }
            @media only screen and (max-width: 425px) {
                .slick-arrow{
                    &.slick-prev{
                        left: 30%;
                    }
                    &.slick-next{
                        right: 30%;
                    }
                }
            }
        }
    }
}


.bg-loancalculation{
    background-image: url("../../assets/images/banner/banner-loancalculation.png");
    /* Set a specific height */
    min-height: 570px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
}
.loancalculation-wrapper{
    .title-loancal{
        width: 200px;
        margin-left: auto;
    }
    .title{
        margin-bottom: 35px;
        text-align: right;
    }
    .btn-link{
        margin-left: auto;
    }
    .caculate-wrapper{
        .revenue{
            margin-bottom: 30px;
            .title{
                text-align: center;
                margin-bottom: 5px;
                font-size: 20px;
                line-height: 22px;
                font-weight: $font-light;
            }
        }
        .initial-maximum{
            margin-bottom: 50px;
            .title{
                text-align: center;
                margin-bottom: 5px;
                font-size: 20px;
                line-height: 22px;
                font-weight: $font-light;
            }
            .financial-amount{
                //margin-bottom: 20px;
            }
            .range{
                margin-bottom: 40px;
                .irs-single, .irs-min, .irs-max{
                    display: none;
                }
                .irs-line{
                    height: 6px;
                }
                .irs-bar{
                    height: 6px;
                    background-color: #FF7301;
                }
                .irs-handle{
                    background-image: url('../../assets/images/icon/icon-range-slide.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 44px;
                    height: 44px;
                    top: auto;
                    i{
                        display: none;
                    }
                }
                .irs-grid{
                    .irs-grid-pol{
                        &.small{
                            display: none;
                        }
                    }
                    .irs-grid-text{
                        font-family: 'Kanit', sans-serif;
                        font-weight: $font-light;
                        font-size: 14px;
                        line-height: 16px;
                        color: #fff;
                        bottom: -10px;
                    }
                }
            }
            .installment{
                .type-installment{
                    margin-top: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .box-type{
                        background-color: rgba($color: #fff, $alpha: 0.5);
                        border-radius: 10px;
                        position: relative;
                        transition: all .35s ease-out;
                        cursor: pointer;
                        .text{
                            font-weight: $font-medium;
                            font-size: 20px;
                            line-height: 22px;
                            padding: 25px 70px;
                            color: #fff;
                            opacity: 0.5;
                        }
                        .icon{
                            position: absolute;
                            top: -5px;
                            left: -33px;
                        }
                        &.active{
                            background-color: rgba($color: #013CA6, $alpha: 1);
                            transition: all .35s ease-out;
                            .text{
                                opacity: 1;
                            }
                        }
                        &:hover{
                            background-color: rgba($color: #013CA6, $alpha: 1);
                            transition: all .35s ease-out;
                            .text{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .min-installment{
        width: 100%;
        margin-bottom: 30px;
        .detail{
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            .item{
                color: #fff;
                .top{
                    font-weight: $font-light;
                    font-size: 14px;
                    line-height: 22px;
                }
                .middle{
                    font-weight: $font-medium;
                    font-size: 52px;
                    line-height: 58px;

                }
                .bottom{
                    font-weight: $font-light;
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }

    .normal-installment{
        width: 100%;
        margin-bottom: 30px;
    }

    @media only screen and (max-width: 768px) {
        .head{
            margin-bottom: 30px;
            .title-loancal{
                text-align: center;
                width: 100%;
                margin-bottom: 15px;
            }
            .btn-link{
                margin-right: auto;
            }
        }

        .caculate-wrapper{
            .initial-maximum{
                .financial-amount{
                    margin-bottom: 0;
                }
            }
        }
    }
    @media only screen and (max-width: 425px) {
        .caculate-wrapper{
            .initial-maximum{
                .installment{
                    .type-installment{
                        flex-wrap: wrap;
                        .box-type{
                            margin-bottom: 30px;
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


.bg-formcredit{
    background-image: url("../../assets/images/banner/banner-form.png");
    /* Set a specific height */
    min-height: 570px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}
.formcredit-wrapper{
    .custom-title-sub{
        max-width: 550px;
        margin: auto;
        margin-top: 20px;
    }

    .form-wrapper{
        .title-sub{
            margin-top: 30px;
            margin-bottom: 10px;
            &.in{
                margin-top: 15px;
            }
        }
        .bg-white{
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
        }

        .box-form{
            .group-result-initial{
                display: flex;
                align-items: center;
                justify-content: space-around;
                @media only screen and (max-width: 425px) {
                    flex-wrap: wrap;
                }
            }
            .result-initial{
                margin-bottom: 10px;
                .title-sub{
                    font-weight: $font-light;
                    font-size: 20px;
                    line-height: 30px;
                    color: #373737;
                    margin-top: 0;
                }
                .financial-amount{
                    .style-input{
                        .inp-style{
                            font-weight: $font-medium;
                            font-size: 52px;
                            line-height: 58px;
                            color: #013CA6;
                            margin-bottom: 0;
                        }
                    }
                }
                .range{
                    margin-bottom: 40px;
                    .irs-single, .irs-min, .irs-max{
                        display: none;
                    }
                    .irs-line{
                        height: 6px;
                    }
                    .irs-bar{
                        height: 6px;
                        background-color: #FF7301;
                    }
                    .irs-handle{
                        background-image: url('../../assets/images/icon/icon-range-slide.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 44px;
                        height: 44px;
                        top: auto;
                        i{
                            display: none;
                        }
                    }
                    .irs-grid{
                        .irs-grid-pol{
                            &.small{
                                display: none;
                            }
                        }
                        .irs-grid-text{
                            font-family: 'Kanit', sans-serif;
                            font-weight: $font-light;
                            font-size: 14px;
                            line-height: 16px;
                            color: #91989E;
                            bottom: -10px;
                        }
                    }
                }

                .result-main{
                    font-weight: $font-medium;
                    font-size: 54px;
                    line-height: 58px;
                    color: #013CA6;
                    text-align: center;
                }
                .result-mmr{
                    font-weight: $font-light;
                    font-size: 20px;
                    line-height: 30px;
                    color: #91989E;
                    text-align: center;

                    margin-bottom: 30px;
                }
            }

            .group-list{
                margin-bottom: 20px;
            }
            .consent{
                margin: 35px 0;
                .style-input{
                    margin-bottom: 0;
                }
            }
        }
    }

    .content-alert{
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        top: -100px;
        width: 90%;
        .line1{
            font-weight: $font-medium;
            font-size: 21px;
            line-height: 28px;
            color: #013CA6;
            margin-bottom: 10px;
        }
        .line2{
            font-weight: $font-light;
            font-size: 21px;
            line-height: 28px;
            color: #013CA6;
            margin-bottom: 20px;
        }
        .icon{
            position: absolute;
            bottom: 7px;
            right: 20px;
            img{
                width: 65%;
            }
        }

        &:after{
            content: '';
            display: block;
            background-image: url('../../assets/images/icon/icon-arrow-desktop.png');
            background-repeat: no-repeat;
            position: absolute;
            width: 35px;
            height: 62px;
            top: 37px;
            right: -27px;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .custom-title-sub{
            margin-bottom: 30px;
        }
        .content-alert{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // height: 156px;
            // width: 355px;
            top: auto;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            max-width: 79%;
            width: 550px;
            padding: 20px 20px 5px;;
            .icon{
                position: relative;
                bottom: auto;
                right: auto;
            }
            &:after{
                content: '';
                display: block;
                background-image: url('../../assets/images/icon/icon-arrow-mobile.png');
                background-repeat: no-repeat;
                position: absolute;
                width: 76px;
                height: 62px;
                top: auto;
                bottom: -25px;
                right: 30px;
            }
        }
    }

    @media only screen and (max-width: 425px) {
        .content-alert{
            max-width: 100%;
        }
    }
    
}

.information-wrapper{
    .title{
        margin-bottom: 35px;
    }
    .item-info{
        position: relative;
        cursor: pointer;
        .hover-img{
            overflow: hidden;
            border-radius: 10px;
            .list{
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                width: 350px;
                height: 276px;
                transition: all .5s ease-out;
            }
        }
        .content{
            position: absolute;
            width: 100%;
            top: 0;
            padding: 20px;
            height: 100%;
            background-color: rgba($color: #373737, $alpha: 0.5);
            border-radius: 10px;
            .title-info{
                font-weight: $font-medium;
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                margin-bottom: 20px;
                padding-top: 60px;
            }
            .desc-info{
                font-weight: $font-light;
                font-size: 14px;
                line-height: 22px;
                color: #fff;
                max-width: 250px;
            }
        }
        &:hover{
            .hover-img{
                .list{
                    transform: scale(1.2);
                    transition: all .5s ease-out;
                }
            }
        }
    }
    
    @media only screen and (max-width: 768px) {
        .item-info{
            .hover-img{
                .list{
                    background-position: center center;
                    width: 100%;
                    height: 200px;
                }
            }
            .content{
                .title-info{
                    padding-top: 8px;
                }
            }
        }
    }

    @media only screen and (max-width: 425px) {
        .item-info{
            margin-bottom: 25px;
        }
    }
}



@media only screen and (max-width: 425px) {
    .banner-wrapper{
        .list-slide{
            li{
                .item{
                    .btn-link{
                        display: none;
                    }
                }
            }
        }
    }
    .register-online-m{
        display: block;
        position: fixed;
        z-index: 9998;
        width: 100%;
        bottom: 0px;
        .btn-link{
            border-radius: 8px;
            max-width: 100%;
            background-color: #013CA6;
            a{
                padding: 10px 75px;
                display: block;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: center;
            }
            .text{
                font-weight: $font-medium;
                font-size: 22px;
                line-height: 26px;
                color: #fff;
            }
            .icon{
                position: absolute;
                right: 10px;
                width: 34px;
                height: 34px;
            }
        }
    }
}



